openapi: 3.0.2
info:
  title: Intermodal Routing API
  version: 8.0.1
  description: |
    Intermodal Routing is a REST API that offers an innovative and smart routing
    experience in urban areas to navigate between a given pair of locations.
    This is possible when the consolidated public transit offer is intertwined
    with external mobility services dynamically scattered in urban areas.
  termsOfService: http://developer.here.com/terms-conditions
  license:
    name: HERE Documentation License
    url: https://legal.here.com/en-gb/terms/documentation-license
  x-document-meta-data:
    copyright: "© 2022 HERE Europe B.V."
    document-id: df1124f9-1f8e-46d2-8298-d1a999a00e30
    date-created: '2022-12-22T15:10:20+00:00'
  x-logo:
    url: https://avatars.githubusercontent.com/u/2835506
  x-origin:
    - format: openapi
      url: https://developer.here.com/documentation/intermodal-routing/swagger/intermodal_api.yaml
      version: "3.0"
  x-apisguru-categories:
    - location
servers:
- url: https://intermodal.router.hereapi.com/v8
  description: Intermodal Routing Service
security:
- Bearer: []
- ApiKey: []
paths:
  "/routes":
    get:
      operationId: getIntermodalRoutes
      summary: Routes
      tags:
      - Intermodal Routing
      description: |
        Lists intermodal routes.
        All or a combination of the following services may be utilized by the
        intermodal algorithm to generate intermodal routes:

        * Vehicle routing.
        * Intermodal routing with real-time and timetable departures.
        * Pedestrian routing with pedestrian connectivity.
        * Park and Ride service that combines vehicle and public transit routing.
        * Real-time traffic and traffic incidents.
        * Public transit service delays/disruptions information from transit authorities.
        * Amenities available at transit stations or nearby (such as parking, EV charging stations, etc.).
        * Sharing services available at transit stations or nearby (such as car sharing, taxi, bicycle, etc.).
      parameters:
      - "$ref": "#/components/parameters/origin"
      - "$ref": "#/components/parameters/destination"
      - "$ref": "#/components/parameters/intermodalVia"
      - "$ref": "#/components/parameters/lang"
      - "$ref": "#/components/parameters/units"
      - "$ref": "#/components/parameters/departureTime"
      - "$ref": "#/components/parameters/arrivalTime"
      - "$ref": "#/components/parameters/alternatives"
      - "$ref": "#/components/parameters/changes"
      - "$ref": "#/components/parameters/pedestrianSpeed"
      - "$ref": "#/components/parameters/pedestrianMaxDistance"
      - "$ref": "#/components/parameters/bicycleMinDistance"
      - "$ref": "#/components/parameters/bicycleMaxDistance"
      - "$ref": "#/components/parameters/kickScooterMinDistance"
      - "$ref": "#/components/parameters/kickScooterMaxDistance"
      - "$ref": "#/components/parameters/transitModes"
      - "$ref": "#/components/parameters/transitEnable"
      - "$ref": "#/components/parameters/vehicleModes"
      - "$ref": "#/components/parameters/vehicleEnable"
      - "$ref": "#/components/parameters/taxiModes"
      - "$ref": "#/components/parameters/taxiEnable"
      - "$ref": "#/components/parameters/rentedModes"
      - "$ref": "#/components/parameters/rentedEnable"
      - "$ref": "#/components/parameters/transitReturn"
      responses:
        200:
          description: API response in case of success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/IntermodalRouteResponse"
          headers:
            X-Correlation-Id:
              "$ref": "#/components/headers/X-Correlation-Id"
        400:
          "$ref": "#/components/responses/400ErrorResponse"
        401:
          "$ref": "#/components/responses/401ErrorResponse"
        403:
          "$ref": "#/components/responses/403ErrorResponse"
        500:
          "$ref": "#/components/responses/500ErrorResponse"
        502:
          "$ref": "#/components/responses/502ErrorResponse"
        503:
          "$ref": "#/components/responses/503ErrorResponse"
        504:
          "$ref": "#/components/responses/504ErrorResponse"
  "/health":
    get:
      operationId: getHealth
      summary: Health
      tags:
      - Intermodal Routing
      description: Returns the health of the service
      security: []
      responses:
        200:
          "$ref": "#/components/responses/HealthResponseOk"
        default:
          "$ref": "#/components/responses/HealthResponseFail"
  "/version":
    get:
      operationId: getVersion
      summary: Version
      tags:
      - Intermodal Routing
      description: Returns the version of the service
      security: []
      responses:
        200:
          "$ref": "#/components/responses/VersionResponseOk"
        500:
          "$ref": "#/components/responses/500ErrorResponse"
        502:
          "$ref": "#/components/responses/502ErrorResponse"
        503:
          "$ref": "#/components/responses/503ErrorResponse"
        504:
          "$ref": "#/components/responses/504ErrorResponse"
components:
  parameters:
    alternatives:
      name: alternatives
      description: Number of alternative routes to return aside from the optimal route.
      in: query
      required: false
      schema:
        type: integer
        minimum: 0
        maximum: 5
        default: 0
    arrivalTime:
      name: arrivalTime
      description: |
        Specifies the time of arrival as defined by either `date-time` or `full-date` `T` `partial-time` in `RFC 3339`, section 5.6 (for example, `2019-06-24T01:23:45`).
        The requested time is converted to the local time at destination. When the optional timezone offset is
        not specified, time is assumed to be local.
        All `Time` values in the response are returned in the timezone of each location.

        Note : The following features do not support the arrivalTime parameter:
        * EV Routing
        * Route Handle
        * Route Import
      in: query
      allowReserved: true
      required: false
      schema:
        "$ref": "#/components/schemas/Time"
    bicycleMaxDistance:
      name: bicycle[maxDistance]
      description: Maximum allowed cycling distance in meters (e.g. when looking for
        nearest stations).
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 10000
        default: 5000
    bicycleMinDistance:
      name: bicycle[minDistance]
      description: Minimum allowed cycling distance in meters (e.g. when looking for
        nearest stations). Routes with cycling distance less than provided will be
        ignored. Default value is 750m when `transit[enable]` contains `entireRoute`,
        otherwise it is 1m.
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 5000
        default: 750
    changes:
      name: changes
      description: 'Maximum number of changes or transfers allowed in a route. Unlimited
        number of changes is permitted when not set.

'
      in: query
      schema:
        type: integer
        minimum: 0
        maximum: 6
    departureTime:
      name: departureTime
      description: |
        Specifies the time of departure as defined by either `date-time` or `full-date` `T` `partial-time` in `RFC 3339`, section 5.6 (for example, `2019-06-24T01:23:45`).
        The requested time is converted to the local time at origin. When the optional timezone offset is
        not specified, time is assumed to be local. If neither `departureTime` or `arrivalTime` are specified, current time at departure location will be used.
        All `Time` values in the response are returned in the timezone of each location.
      in: query
      allowReserved: true
      required: false
      schema:
        "$ref": "#/components/schemas/Time"
    destination:
      name: destination
      description: |+
        Trip destination WGS-84 compliant coordinates.

        Format: `{lat},{lng}[;placeName={name}]`

        The optional `placeName` parameter can be used to customize the
          name of the destination place and will affect the generated actions descriptions.

      in: query
      required: true
      schema:
        "$ref": "#/components/schemas/LocationString"
    intermodalVia:
      name: via
      description: |
        Defines an intermediate via waypoint.

        At the moment via point is supported with the following syntax:

        `via=place:parkingLot;strategy={strategy}`: Defines the change between modes in a parking lot.
          The optional parameter `strategy` defines the search strategy for candidate parking lots.
          Here is a list of possible strategies:
          * `diverseChoices` (default): Parking lots close to the origin or close to the city border
            will be considered.
          * `parkLate`: switch from car to public transit as soon as possible after entering the
            destination city's limits.
          * `parkEarly`: try to switch from car to public transit as early as possible.
      in: query
      schema:
        type: string
    kickScooterMaxDistance:
      name: kickScooter[maxDistance]
      description: Maximum allowed travel distance in meters (e.g. when looking for
        nearest stations).
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 10000
        default: 5000
    kickScooterMinDistance:
      name: kickScooter[minDistance]
      description: Minimum allowed travel distance in meters (e.g. when looking for
        nearest stations). Routes with travel distance less than provided will be
        ignored. Default value is 750m when `transit[enable]` contains `entireRoute`,
        otherwise it is 1m.
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 5000
        default: 750
    lang:
      name: lang
      description: 'Specifies the preferred language of the response. The value should
        comply with the [IETF BCP 47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt).

'
      in: query
      schema:
        type: string
        default: en-US
    origin:
      name: origin
      description: |+
        Trip origin WGS-84 compliant coordinates.

        Format: `{lat},{lng}[;placeName={name}]`

        The optional `placeName` parameter can be used to customize
          the name of the origin place and will affect the generated actions descriptions.

      in: query
      required: true
      schema:
        "$ref": "#/components/schemas/LocationString"
    pedestrianMaxDistance:
      name: pedestrian[maxDistance]
      description: Maximum allowed walking distance in meters (e.g. when looking for
        nearest stations).
      in: query
      schema:
        type: integer
        minimum: 0
        maximum: 6000
        default: 2000
    pedestrianSpeed:
      name: pedestrian[speed]
      description: 'Walking speed in meters per second. Influences the duration of
        walking segments from origin to a station, from a station to destination and
        in-between the stations (e.g. if transfer is needed).

'
      in: query
      schema:
        "$ref": "#/components/schemas/PedestrianSpeed"
    rentedEnable:
      name: rented[enable]
      description: 'Route parts where the rented vehicle modes are allowed. By default,
        rented modes are allowed everywhere in the route.

'
      in: query
      schema:
        "$ref": "#/components/schemas/EnableInRouteAll"
      style: form
      explode: false
    rentedModes:
      name: rented[modes]
      description: 'Modes filter used to determine which rented modes to include in
        the response. By default, all supported rented modes are permitted.

'
      in: query
      schema:
        "$ref": "#/components/schemas/RentedModesFilter"
      style: form
      explode: false
    taxiEnable:
      name: taxi[enable]
      description: 'Route parts where the taxi vehicle modes are allowed. By default,
        taxi modes are allowed everywhere in the route.

'
      in: query
      schema:
        "$ref": "#/components/schemas/EnableInRouteAll"
      style: form
      explode: false
    taxiModes:
      name: taxi[modes]
      description: 'Modes filter used to determine which taxi modes to include in
        the response. By default, all supported taxi modes are permitted.

'
      in: query
      schema:
        "$ref": "#/components/schemas/TaxiModesFilter"
      style: deepObject
      explode: true
    transitEnable:
      name: transit[enable]
      description: 'Route parts where the transit modes are allowed. By default, transit
        modes are allowed everywhere in the route.

'
      in: query
      schema:
        "$ref": "#/components/schemas/EnableInRouteAll"
      style: form
      explode: false
    transitModes:
      name: transit[modes]
      description: 'Mode filter used to determine which transit modes to include in
        the response. By default, all supported transit modes are permitted.

'
      in: query
      schema:
        "$ref": "#/components/schemas/TransitModesFilter"
      style: form
      explode: false
    transitReturn:
      name: return
      description: |
        Defines which section attributes are included.

         * `intermediate` - List of intermediate stops within a section of the route. If
           enabled, the response includes `intermediateStops` attribute. Each intermediate stop includes
           stop/station names, WGS-84 geocoordinates, and the departure times at the stops.
         * `fares` - List of fares/tickets to cover a section of the route.
         * `polyline` - Polyline for the route in
           [Flexible Polyline](https://github.com/heremaps/flexible-polyline/blob/master/README.md)
           Encoding.
         * `actions` - Actions (such as maneuvers or tasks) that must be taken to complete the section.
         * `travelSummary` - Include summary for the travel portion of the section.
         * `incidents` - Include a list of all incidents applicable to each section.
         * `bookingLinks` - Include a list of links to book a ride for a section of the route.
      in: query
      schema:
        type: array
        uniqueItems: true
        items:
          type: string
          enum:
          - intermediate
          - fares
          - polyline
          - actions
          - travelSummary
          - incidents
          - bookingLinks
      style: form
      explode: false
    units:
      name: units
      description: Units of measurement used, for example, in guidance instructions.
        The default is `metric`.
      in: query
      schema:
        "$ref": "#/components/schemas/Units"
    vehicleEnable:
      name: vehicle[enable]
      description: 'Route parts where the private vehicle modes are allowed. By default,
        vehicle modes are not allowed.

'
      in: query
      schema:
        "$ref": "#/components/schemas/EnableInRouteNone"
      style: form
      explode: false
    vehicleModes:
      name: vehicle[modes]
      description: 'Modes filter used to determine which vehicle modes to include
        in the response.

'
      in: query
      schema:
        "$ref": "#/components/schemas/VehicleModesFilter"
      style: form
      explode: false
  headers:
    X-Correlation-Id:
      description: Auto-generated id that univocally identifies the request.
      schema:
        type: string
      example: 4199533b-6290-41db-8d79-edf4f4019a74
  securitySchemes:
    ApiKey:
      type: apiKey
      in: query
      name: apiKey
      description: 'A key generated specifically to authenticate API requests. For
        more information on how to get an API key, see https://developer.here.com/documentation/identity-access-management/dev_guide/index.html.

'
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        A token obtained from a separate endpoint using client credentials and an OAuth 1.0a HMAC-SHA256 signed request.
        For more information on how to get a bearer token, see https://developer.here.com/documentation/identity-access-management/dev_guide/index.html.
  schemas:
    AccessAttributes:
      description: "Extensible enum: `open` `noThrough` `tollRoad` `...`  \n`AccessAttributes`
        is applied to a span of a route section and describes access flags of a street.\n\n*
        `open`: A part of the route that can be traversed.\n* `noThrough`: A part
        of the route that can only be traversed if origin, destination or any via
        waypoint is located there.\n* `tollRoad`: Access to this part of the route
        is restricted with a fee (or toll).\n\nAs it is possible that new access attributes
        are supported in the future, unknown access attributes should be ignored.\n"
      type: string
      x-extensible-enum:
      - open
      - noThrough
      - tollRoad
    AttributionLinkType:
      description: |
        Attribution link type.

        * `disclaimer` - Page with further legal information from the agency.
        * `tariff` - Page with information on the tariff.
      type: string
      required:
      - type
      enum:
      - disclaimer
      - tariff
    AuthErrorResponseSchema:
      properties:
        error:
          type: string
          description: Human-readable error
        error_description:
          type: string
          description: Human-readable error description
    BaseNoticeDetail:
      properties:
        title:
          type: string
          description: Detail title
        cause:
          type: string
          description: Cause of the notice
        type:
          type: string
          description: |
            Detail type. Each type of detail might contain extra attributes.

            **NOTE:** The list of possible detail types may be extended in the future.
            The client application is expected to handle such a case gracefully.
      required:
      - type
    ChargingConnectorType:
      description: "Extensible enum: `iec62196Type1Combo` `iec62196Type2Combo` `chademo`
        `tesla` `...`  \nCurrently supported connector types are:\n* `iec62196Type1Combo`:
        \ Type 1 Combo connector, commonly called \"SAE J1772\"\n* `iec62196Type2Combo`:
        \ Type 2 Combo connector, commonly called \"Mennekes\"\n* `chademo`: CHAdeMO
        connector\n* `tesla`: Tesla connector\n"
      type: string
      x-extensible-enum:
      - iec62196Type1Combo
      - iec62196Type2Combo
      - chademo
      - tesla
    ChargingStationBrand:
      description: Information regarding the charging station brand
      properties:
        name:
          description: Charging station brand name
          type: string
        hrn:
          description: |
            Charging station brand unique ID.
            If specified in `ev[preferredBrands]` parameter
            then it would apply preference to adding stations of the given brand.

            **NOTE:** As of now it is generated as a brand name hash.
            It will be changed to HRN (HERE Resource Name) in the future.
          type: string
    ChargingSupplyType:
      description: "Extensible enum: `acSingle` `acThree` `dc` `...`  \nCurrently
        possible values are:\n\n* `acSingle` : Single phase Alternating Current supply\n*
        `acThree`: Three phase Alternating Current supply\n* `dc`: Direct Current
        supply\n"
      type: string
      x-extensible-enum:
      - acSingle
      - acThree
      - dc
    Co2Emission:
      type: number
      description: Estimation of the carbon dioxide emission for the given route.
        Unit is kilograms with precision to three decimal places.
    Color:
      type: string
      pattern: "#[0-9A-Fa-f]{6}"
      example: "#FF0000"
    CountryCode:
      description: ISO-3166-1 alpha-3 code
      type: string
      example: FRA
    DataVersion:
      description: Version of a specific data set
      properties:
        name:
          type: string
          description: Identifies a data set, for example, a HRN, or a service specific
            identifier
        version:
          type: string
          description: The current version of this data set
      required:
      - name
      - version
    DepartureDelay:
      description: The accumulated delay in seconds from the scheduled time of the
        event.
      type: integer
    DepartureStatus:
      description: "Extensible enum: `scheduled` `cancelled` `additional` `replaced`
        `...`  \nStatus of the departure\n\n* `scheduled`: A trip that is running
        as planned in the schedule.\n* `cancelled`: A trip that existed in the schedule
        but was removed.\n* `additional`: An extra trip that was added in addition
        to a running schedule, for example, to respond to sudden passenger load.\n*
        `replaced`: A trip that was in the schedule but is removed and replaced with
        `additional` trip, for example, to replace a broken vehicle or handle detour.\n"
      type: string
      x-extensible-enum:
      - scheduled
      - cancelled
      - additional
      - replaced
      default: scheduled
    Distance:
      type: integer
      minimum: 0
      description: Distance in meters.
    Duration:
      type: integer
      description: Duration in seconds.
    Energy:
      type: number
      description: Energy in kilowatt hours (kWh).
    ErrorResponse:
      description: Response in case of error
      properties:
        title:
          type: string
          description: Human-readable error description
          example: Input data failed validation
        status:
          type: integer
          description: HTTP status code
          example: 400
        code:
          type: string
          description: |
            Error code.

            All error codes start with "`E60`".
          example: E600101
        cause:
          type: string
          description: Human-readable explanation for the error
          example: The input data in question does not comply with validation rules
        action:
          type: string
          description: Human-readable description of the action that can be taken
            to correct the error
          example: Request a valid id
        correlationId:
          type: string
          description: Auto-generated id that univocally identifies the request
          example: 4199533b-6290-41db-8d79-edf4f4019a74
      required:
      - title
      - status
      - code
      - cause
      - action
      - correlationId
    FarePassValidityPeriod:
      description: Specifies a temporal validity period for a pass
      properties:
        period:
          description: "Extensible enum: `annual` `extendedAnnual` `minutes` `days`
            `months` `...`  \nSpecifies one of the following validity periods:\n  -
            `annual`: pass is valid from Jan 1 to Dec 31\n  - `extendedAnnual`: pass
            is valid from Jan 1 to Jan 31 of the following year\n  - `minutes`: pass
            is valid for a specified number of minutes See `unit`.\n  - `days`: pass
            is valid for a specified number of days. See `unit`.\n  - `months`: pass
            is valid for a specified number of months. See `unit`.\n"
          type: string
          x-extensible-enum:
          - annual
          - extendedAnnual
          - minutes
          - days
          - months
        count:
          description: Required if period is `minutes`, days` or `months`, it specifies
            how many of these units are covered by the pass.
          type: integer
      required:
      - period
    FareReason:
      description: "Extensible enum: `ride` `parking` `...`  \nReason for the cost
        described in this `Fare` element.\n"
      type: string
      x-extensible-enum:
      - ride
      - parking
    FuelConsumption:
      type: number
      description: Liters (L) for diesel, petrol and LPG vehicles. Kilograms (kg)
        for CNG vehicles.
    FunctionalClass:
      description: |
        Functional class is used to classify roads depending on the speed, importance and
        connectivity of the road.

        * `1`: Roads allow for high volume, maximum speed traffic movement between and through major
          metropolitan areas.
        * `2`: Roads are used to channel traffic to functional class 1 roads for travel between and
          through cities in the shortest amount of time.
        * `3`: Roads that intersect functional class 2 roads and provide a high volume of traffic
          movement at a lower level of mobility than functional class 2 roads.
        * `4`: Roads that provide for a high volume of traffic movement at moderate speeds between
          neighbourhoods.
        * `5`: Roads with volume and traffic movement below the level of any other functional class.
      type: integer
      format: int32
      minimum: 1
      maximum: 5
    HazardousGoodsRestriction:
      description: "Extensible enum: `explosive` `gas` `flammable` `combustible` `organic`
        `poison` `radioactive` `corrosive` `poisonousInhalation` `harmfulToWater`
        `other` `any` `...`  \nHazardous goods restriction applied during the trip.\n\n*
        `explosive`: Explosive material\n* `gas`: Gas\n* `flammable`: Flammable material\n*
        `combustible`: Combustible material\n* `organic`: Organic material\n* `poison`:
        Poison\n* `radioactive`: Radioactive material\n* `corrosive`: Corrosive material\n*
        `poisonousInhalation`: Materials that are poisonous upon inhalation\n* `harmfulToWater`:
        Materials that are harmful to water\n* `other`: Other types of hazardous materials\n*
        `any`: Any of the above types\n"
      type: string
      x-extensible-enum:
      - explosive
      - gas
      - flammable
      - combustible
      - organic
      - poison
      - radioactive
      - corrosive
      - poisonousInhalation
      - harmfulToWater
      - other
      - any
    LocalizedString:
      description: String with optional language code.
      properties:
        value:
          description: String written in the language specified in the language property.
          type: string
        language:
          description: Language in BCP47 format
          type: string
      required:
      - value
      example:
        value: Invalidenstraße
        language: de
    Location:
      description: Location on the Earth
      properties:
        lat:
          description: Location of a point on the Earth north or south of the equator
            in decimal degrees.
          type: number
          format: double
          example: 52.531677
        lng:
          description: Location of a place on the Earth east or west of the prime
            meridian in decimal degrees.
          type: number
          format: double
          example: 13.381777
        elv:
          description: |
            Ellipsoid(geodetic) height in meters. Difference between the WGS84 ellipsoid and a point on the Earth’s surface.
            Note: Similar elevation can be obtained from a GPS receiver.
          type: number
          example: 512.5
      example:
        lat: 52.531677
        lng: 13.381777
      required:
      - lat
      - lng
    LocationString:
      type: string
      example: 52.5251,13.3694
    MaxSpeed:
      description: Speed in meters per second, or "unlimited" indicating that the
        speed is unlimited, e.g., on a German autobahn
      oneOf:
      - type: number
        minimum: 0
      - type: string
        enum:
        - unlimited
    NoticeSeverity:
      description: |
        Describes the impact a notice has on the resource to which the notice is attached.
        * critical - The notice must not be ignored, even if the type of notice is not known to the user. Any associated resource (e.g., route section) must not be used without further evaluation.
        * info - The notice is for informative purposes, but does not affect usability of the route.
      type: string
      enum:
      - critical
      - info
    ParkingLotPlaceType:
      description: "Extensible enum: `parkAndRide` `...`  \nCurrently possible values
        are:\n\n* `parkAndRide` - this parking lot is of type \"Park and Ride\",\n
        \ such as it is a parking specifically designed to allow transition between
        car and transit.\n"
      type: string
      x-extensible-enum:
      - parkAndRide
    PartialTime:
      type: string
      description: "**RFC 3339**, section 5.6 as defined by `partial-time`."
      pattern: "^[012]\\d:[0-5]\\d:[0-6]\\d(\\.\\d+)?$"
      example: 30600
    PaymentMethod:
      description: "Extensible enum: `cash` `bankCard` `creditCard` `passSubscription`
        `transponder` `videoToll` `cashExact` `travelCard` `...`  \nRecognized methods
        of payment.\n"
      type: string
      x-extensible-enum:
      - cash
      - bankCard
      - creditCard
      - passSubscription
      - transponder
      - videoToll
      - cashExact
      - travelCard
    PedestrianSpeed:
      description: Pedestrian speed in meters per second
      type: number
      minimum: 0.5
      maximum: 2
      default: 1
    Polyline:
      type: string
      description: Line string in [Flexible Polyline](https://github.com/heremaps/flexible-polyline)
        format.
      example: A05xgKuy2xCx9B7vUl0OhnR54EqSzpEl-HxjD3pBiGnyGi2CvwFsgD3nD4vB6e
    RoadInfoType:
      description: Type of the road (rural, urban, highway)
      type: string
      enum:
      - rural
      - urban
      - highway
      default: urban
    RoutingZone:
      description: Information about a routing zone.
      properties:
        ref:
          description: |
            A reference to a routing zone in HMC.

            The standard representation of a routing zone reference has the following structure:
            `{catalogHrn}:{catalogVersion}:({layerId})?:{tileId}:{zoneId}`

            The individual parts are:
            * `catalogHrn`: The HERE Resource Name that identifies the source catalog of the routing zone, example: `hrn:here:data::olp-here:rib-2`
            * `catalogVersion`: The catalog version
            * `layerId` (optional): The layer inside the catalog where the routing zone is located, example: `environmental-zones`
            * `tileId`: The HERE tile key of the partition/tile where the routing zone is located in the given version of the catalog
            * `zoneId`: The identifier of the referenced routing zone within the catalog, example: `here:cm:envzone:3455277`

            Example of a reference to an environmental zone in standard form:
            `hrn:here:data::olp-here:rib-2:1557:environmental-zones:all:here:cm:envzone:3455277`

            In order to reduce reponse size, routing zone references can also be provided in a compact representation.
            In compact form, parts of a reference are replaced by placeholders, which can be resolved using the `refReplacements` dictionary in the parent section.
            The placeholder format is ```\$\d+``` and needs to be surrounded by colons or string start/end. It can be captured with the following regular expression: ```(^|:)\$\d+(:|$)``` .

            Example of the aforementioned environmental zone reference in compact form: `$0:$1:3455277`
            With the corresponding `refReplacements`:
            ```
            "refReplacements": {
              "0": "hrn:here:data::olp-here:rib-2:1557",
              "1": "environmental-zones:all:here:cm:envzone"
            }
            ```
          type: string
        type:
          description: "Extensible enum: `environmental` `vignette` `...`  \nThe type
            of a routing zone.\n"
          type: string
          x-extensible-enum:
          - environmental
          - vignette
        name:
          description: The routing zone's name.
          type: string
    Speed:
      description: Speed in meters per second
      type: number
      minimum: 0
    StateCode:
      description: |
        ISO-3166-2 code.
        Used for identifying the principal subdivisions (e.g., provinces or states) of a country with some `CountryCode`.
        Made of up to three alphanumeric characters.

        Preferably used in conjunction with the `CountryCode`.
        State code is available in the following countries:
          - USA
          - Canada
          - Australia
          - China
          - India
      type: string
    StreetAttributes:
      description: "Extensible enum: `rightDrivingSide` `dirtRoad` `tunnel` `bridge`
        `ramp` `controlledAccess` `roundabout` `underConstruction` `dividedRoad` `privateRoad`
        `...`  \n`StreetAttributes` is applied to a span of a route section and describes
        attribute flags of a street.\n* `rightDrivingSide`: Do vehicles have to drive
        on the right-hand side of the road or the left-hand side.\n* `dirtRoad`: This
        part of the route has an un-paved surface.\n* `tunnel`: This part of the route
        is a tunnel.\n* `bridge`: This part of the route is a bridge.\n* `ramp`: This
        part of the route is a ramp (usually connecting to/from/between highways).\n*
        `motorway`: This part of the route is a controlled access road (usually highways
        with motorway sign).\n* `roundabout`: This part of the route is a roundabout.\n*
        `underConstruction`: This part of the route is under construction.\n* `dividedRoad`:
        This part of the route uses a road with a physical or legal divider in the
        middle.\n* `privateRoad`: This part of the route uses a privately owned road.\n*
        `controlledAccessHighway`: This part of the route is a either controlled access
        or limited access road or both.\n\nAs it is possible that new street attributes
        are supported in the future, unknown street attributes should be ignored.\n"
      type: string
      x-extensible-enum:
      - rightDrivingSide
      - dirtRoad
      - tunnel
      - bridge
      - ramp
      - controlledAccess
      - roundabout
      - underConstruction
      - dividedRoad
      - privateRoad
    Time:
      type: string
      description: "**RFC 3339**, section 5.6 as defined by either `date-time` or
        `date-only` 'T' `partial-time` (ie no time-offset)."
      format: date-time
    TimeRestrictedWeekdays:
      type: string
      enum:
      - mo
      - tu
      - we
      - th
      - fr
      - sa
      - su
    TollSystem:
      description: 'Information about a toll system collecting payments on the route.

'
      properties:
        name:
          description: 'Name of this toll system

'
          type: string
        ref:
          description: 'Internal identification of this toll system. Will be replaced
            in the future by an hrn identifier.

'
          type: string
    TrafficIncidentCriticality:
      description: |
        Describes the impact an incident has on the route.
        * critical - The part of the route the incident affects is not usable.
        * major - Major impact on duration, e.g. stop and go
        * minor - Minor impact on duration, e.g. traffic jam
        * low - Very little impact on duration, e.g. slightly increased traffic
      type: string
      enum:
      - critical
      - major
      - minor
      - low
    TrafficIncidentType:
      description: "Extensible enum: `accident` `congestion` `construction` `disabledVehicle`
        `massTransit` `plannedEvent` `roadHazard` `roadClosure` `weather` `laneRestriction`
        `other` `...`  \nAn open list of possible incident causes / types.\nNote:
        Since new types are expected to appear, it is important to check for unknown
        types when parsing this value.\n"
      type: string
      x-extensible-enum:
      - accident
      - congestion
      - construction
      - disabledVehicle
      - massTransit
      - plannedEvent
      - roadHazard
      - roadClosure
      - weather
      - laneRestriction
      - other
    TrailerCountRange:
      description: Constrains the restriction to vehicles with number of trailers
        within specified range.
      properties:
        from:
          description: Inclusive minimum of trailer count.
          type: integer
          format: int32
          minimum: 0
        to:
          description: Inclusive maximum of trailer count. If not set, maximum trailer
            count is unbounded.
          type: integer
          format: int32
          minimum: 0
    TransitIncidentEffect:
      description: "Extensible enum: `cancelledService` `reducedService` `additionalService`
        `modifiedService` `delays` `detour` `stopMoved` `other` `...`  \nAn open list
        of possible incident effects.\nNote: Since new types are expected to appear,
        it is important to check for unknown types when parsing this value.\n"
      type: string
      x-extensible-enum:
      - cancelledService
      - reducedService
      - additionalService
      - modifiedService
      - delays
      - detour
      - stopMoved
      - other
    TransitIncidentType:
      description: "Extensible enum: `technicalProblem` `strike` `demonstration` `accident`
        `holiday` `weather` `maintenance` `construction` `policeActivity` `medicalEmergency`
        `other` `...`  \nAn open list of possible incident causes / types.\nNote:
        Since new types are expected to appear, it is important to check for unknown
        types when parsing this value.\n"
      type: string
      x-extensible-enum:
      - technicalProblem
      - strike
      - demonstration
      - accident
      - holiday
      - weather
      - maintenance
      - construction
      - policeActivity
      - medicalEmergency
      - other
    TransitModeFlags:
      title: Modes and excluded modes
      description: "Extensible enum: `highSpeedTrain` `intercityTrain` `interRegionalTrain`
        `regionalTrain` `cityTrain` `bus` `ferry` `subway` `lightRail` `privateBus`
        `inclined` `aerial` `busRapid` `monorail` `flight` `spaceship` `-highSpeedTrain`
        `-intercityTrain` `-interRegionalTrain` `-regionalTrain` `-cityTrain` `-bus`
        `-ferry` `-subway` `-lightRail` `-privateBus` `-inclined` `-aerial` `-busRapid`
        `-monorail` `-flight` `-spaceship` `...`  \nTransit mode and excluded modes
        of transport\n"
      type: string
      x-extensible-enum:
      - highSpeedTrain
      - intercityTrain
      - interRegionalTrain
      - regionalTrain
      - cityTrain
      - bus
      - ferry
      - subway
      - lightRail
      - privateBus
      - inclined
      - aerial
      - busRapid
      - monorail
      - flight
      - spaceship
      - "-highSpeedTrain"
      - "-intercityTrain"
      - "-interRegionalTrain"
      - "-regionalTrain"
      - "-cityTrain"
      - "-bus"
      - "-ferry"
      - "-subway"
      - "-lightRail"
      - "-privateBus"
      - "-inclined"
      - "-aerial"
      - "-busRapid"
      - "-monorail"
      - "-flight"
      - "-spaceship"
    TransitStopAttributes:
      description: "Extensible enum: `noEntry` `noExit` `...`  \nAttributes of a stop.\n\n*
        `noEntry`: The transport cannot be entered at the stop.\n* `noExit`: The transport
        cannot be exited at the stop.\n"
      type: string
      x-extensible-enum:
      - noEntry
      - noExit
    TruckAxleCountRange:
      description: Constrains the restriction to trucks with number of axles within
        specified range.
      properties:
        from:
          description: Inclusive minimum of axle count.
          type: integer
          format: int32
          minimum: 2
        to:
          description: Inclusive maximum of axle count. If not set, maximum axle count
            is unbounded.
          type: integer
          format: int32
          minimum: 2
    TruckType:
      description: |
        Specifies the type of truck

        * `straight`: a truck on a single frame with a permanently attached cargo area
        * `tractor`: a towing vehicle that can pull one or more semi-trailers (aka semi-truck)
      deprecated: true
      type: string
      enum:
      - straight
      - tractor
    TunnelCategory:
      description: |
        Specifies the tunnel category used to restrict transport of specific goods.

        **Limitations:** only valid for `transportMode=truck`.
      type: string
      enum:
      - B
      - C
      - D
      - E
    TurnActionDirection:
      description: Direction of the turn. `middle` is only used by the `keep` action.
      type: string
      enum:
      - middle
      - right
      - left
    TurnActionSeverity:
      description: |
        Tightness of the turn. Optional in the `turn` action, unused by other actions.

        * `light`: indicates making a light turn
        * `quite`: indicates making a regular turn
        * `heavy`: indicates making a heavy turn
      type: string
      enum:
      - light
      - quite
      - heavy
    Units:
      description: Units of measurement used, for example, in guidance instructions.
        The default is `metric`.
      type: string
      enum:
      - metric
      - imperial
    Uri:
      description: An URL address that links to a particular resource.
      type: string
      format: uri
    VehicleType:
      description: |
        Specifies the type of the vehicle

        * `straightTruck`: a truck on a single frame with a permanently attached cargo area. **Note:**
        default value when truck routing mode is used. **Limitations:** only valid for `transportMode=truck`.
        * `tractor`: a towing vehicle that can pull one or more semi-trailers (aka semi-truck).
        **Limitations:** only valid for `transportMode=truck`.
      type: string
      enum:
      - straightTruck
      - tractor
    WalkAttributes:
      description: "Extensible enum: `stairs` `park` `indoor` `open` `noThrough` `tollRoad`
        `...`  \nWalkAttributes are applied to a span of a route section and describe
        walk-related attribute\nflags.\n\n* `stairs`: This part of the route is using
        stairs.\n* `park`: This part of the route is located inside a park.\n* `indoor`:
        This part of the route is located inside a venue.\n* `open`: This part of
        the route is open to walking.\n* `noThrough`: This part of the route can only
        be traversed if origin, destination or any via waypoint is located there.\n*
        `tollRoad`: This part of the route is restricted with a fee (or toll).\n"
      type: string
      x-extensible-enum:
      - stairs
      - park
      - indoor
      - open
      - noThrough
      - tollRoad
    WheelchairAccessibility:
      description: |
        Defines accessibility for people with a disability and who use a wheelchair.

        * `unknown` - Information is not available.
        * `yes` - Full unrestricted accessibility.
        * `limited` - Accessibility is limited, not everywhere or require assistance.
        * `no` - No accessibility.
      type: string
      enum:
      - unknown
      - 'yes'
      - limited
      - 'no'
      default: unknown
    Agency:
      description: Contains information about a particular agency.
      properties:
        id:
          description: Unique code of the agency. Specifies if the same agency is
            used on different sections of the same route.
          type: string
        name:
          description: Human readable name of the owner of the transport service.
          type: string
        website:
          description: Link to the agency's website.
          allOf:
          - "$ref": "#/components/schemas/Uri"
      required:
      - id
      - name
    BaseAction:
      description: An action to be performed between sections or during a section.
      properties:
        action:
          description: |
            The type of the action.

            **NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.
          type: string
        duration:
          description: Estimated duration of this action (in seconds). Actions last
            until the next action, or the end of the route in case of the last one.
          allOf:
          - "$ref": "#/components/schemas/Duration"
        instruction:
          description: Description of the action (e.g. Turn left onto Minna St.).
          type: string
      required:
      - action
      - duration
    BasePlace:
      properties:
        name:
          description: Location name
          type: string
        waypoint:
          description: If present, this place corresponds to the waypoint in the request
            with the same index.
          type: integer
        type:
          description: |
            Place type. Each place type can have extra attributes.

            **NOTE:** The list of possible place types could be extended in the future.
            The client application is expected to handle such a case gracefully.
          type: string
        location:
          description: |
            The position of this location

            This position was used in route calculation. It may be different to the original position provided in the request.
          allOf:
          - "$ref": "#/components/schemas/Location"
        originalLocation:
          description: If present, the original position of this location provided
            in the request.
          allOf:
          - "$ref": "#/components/schemas/Location"
      required:
      - type
      - location
    BaseSummary:
      description: Total value of key attributes for a route section.
      properties:
        duration:
          "$ref": "#/components/schemas/Duration"
        length:
          "$ref": "#/components/schemas/Distance"
      required:
      - duration
      - length
    ChargingConnectorAttributes:
      description: Details of the connector that is suggested to be used in the section's
        `postAction` for charging.
      properties:
        power:
          description: Power supplied by the suggested connector in kW.
          type: number
        current:
          description: Current of the suggested connector in Amperes.
          type: number
        voltage:
          description: Voltage of the suggested connector in Volts.
          type: number
        supplyType:
          description: 'Supply type of the suggested connector.

'
          allOf:
          - "$ref": "#/components/schemas/ChargingSupplyType"
        connectorType:
          description: Suggested connector for charging at this station
          allOf:
          - "$ref": "#/components/schemas/ChargingConnectorType"
      required:
      - power
      - supplyType
      - connectorType
    DynamicSpeedInfo:
      description: 'Describes dynamic speed information, such as traffic speed, estimated
        speed without traffic, and turn time.

'
      properties:
        trafficSpeed:
          description: 'Traffic-enabled speed, which is the estimated speed considering
            traffic-relevant constraints.

'
          allOf:
          - "$ref": "#/components/schemas/Speed"
        baseSpeed:
          description: Estimated speed without considering any traffic-related constraints.
          allOf:
          - "$ref": "#/components/schemas/Speed"
        turnTime:
          description: 'Turn time estimate considering traffic and transport mode
            needed for turning from this segment into the next.

'
          allOf:
          - "$ref": "#/components/schemas/Duration"
      required:
      - trafficSpeed
      - baseSpeed
      - turnTime
    EnableInRouteAll:
      description: Comma-separated list of route parts to enable for this mode family
      type: array
      items:
        type: string
        enum:
        - routeHead
        - routeTail
        - entireRoute
      default:
      - routeHead
      - routeTail
      - entireRoute
    EnableInRouteNone:
      description: Comma-separated list of route parts to enable for this mode family
      type: array
      items:
        type: string
        enum:
        - routeHead
        - routeTail
        - entireRoute
      default: []
    ExitInfo:
      description: Exit information attached to an offset action
      properties:
        number:
          description: Number of the exit (e.g. '18')
          type: array
          items:
            "$ref": "#/components/schemas/LocalizedString"
      example:
        exit:
          number:
          - value: '15'
            language: de
    FarePass:
      description: Specifies whether this `Fare` is a multi-travel pass, and its characteristics
      properties:
        returnJourney:
          description: This pass includes the fare for the return journey.
          type: boolean
        validityPeriod:
          "$ref": "#/components/schemas/FarePassValidityPeriod"
        travels:
          description: This pass allows for the specified number of travels.
          type: integer
        transfers:
          description: Indicates if transfers are permitted with this pass, and if
            so, how many.
          type: integer
        seniorPass:
          description: This pass is valid only if presented by a senior person.
          type: boolean
    HealthResponseFailSchema:
      description: Returns the health of the service
      properties:
        status:
          description: |
            Health status of the service:

            * `ok` - the service is operating normally
            * `fail` - the service is currently encountering a failure
          type: string
          enum:
          - fail
    HealthResponseOKSchema:
      description: Returns the health of the service
      properties:
        status:
          description: |
            Health status of the service:

            * `ok` - the service is operating normally
            * `fail` - the service is currently encountering a failure
          type: string
          enum:
          - ok
    Notice:
      description: A notice contains important notifications.
      properties:
        title:
          type: string
          description: Human-readable notice description.
          example: No route found
        code:
          type: string
          description: Notice code.
          example: noRouteFound
        severity:
          "$ref": "#/components/schemas/NoticeSeverity"
        details:
          type: array
          description: Additional details about the notice
          items:
            "$ref": "#/components/schemas/BaseNoticeDetail"
      required:
      - code
    PedestrianMode:
      description: "Extensible enum: `pedestrian` `...`  \nPedestrian mode of transport.\n\nSince
        the supported pedestrian modes may be extended in the future, the pedestrian
        mode should be hidden when an unknown mode is encountered.\n"
      type: string
      x-extensible-enum:
      - pedestrian
      default: pedestrian
    RentedMode:
      title: Modes
      description: "Extensible enum: `car` `bicycle` `kickScooter` `...`  \nRented
        mode of transport\n"
      type: string
      x-extensible-enum:
      - car
      - bicycle
      - kickScooter
    RentedModeExcluded:
      title: Excluded modes
      description: "Extensible enum: `-car` `-bicycle` `-kickScooter` `...`  \nRented
        mode to be excluded from the route\n"
      type: string
      x-extensible-enum:
      - "-car"
      - "-bicycle"
      - "-kickScooter"
    RoadInfo:
      description: Road information attached to an offset action
      properties:
        type:
          "$ref": "#/components/schemas/RoadInfoType"
        name:
          description: |
            Name of the road

            If the road has multiple names, each name will be a separate entry in the array.
            The road names can be in multiple languages. If a preferred language was provided,
            and names in that language are available, they will be prioritized in the array.
            Otherwise the default name of the street is prioritized.
          type: array
          items:
            "$ref": "#/components/schemas/LocalizedString"
        number:
          description: Route name or number (e.g. 'M25')
          type: array
          items:
            "$ref": "#/components/schemas/LocalizedString"
        toward:
          description: Names of destinations on sign which can be reached when going
            in that direction
          type: array
          items:
            "$ref": "#/components/schemas/LocalizedString"
      example:
        fennstrasse:
          type: street
          name:
          - value: Fennstraße
            language: de
          number:
          - value: B96
            language: de
          toward:
          - value: Reinickendorf
            language: de
    RouteLabel:
      oneOf:
      - description: Designated name of the road (e.g. a street name or a transport
          name)
        properties:
          name:
            "$ref": "#/components/schemas/LocalizedString"
      - description: Designated route name or number of the road (e.g. 'M25')
        properties:
          routeNumber:
            "$ref": "#/components/schemas/LocalizedString"
    TaxiMode:
      description: "Extensible enum: `car` `...`  \nTaxicab mode of transport\n"
      type: string
      x-extensible-enum:
      - car
    TaxiModeExcluded:
      description: "Extensible enum: `-car` `...`  \nTaxicab mode to be excluded from
        the route\n"
      type: string
      x-extensible-enum:
      - "-car"
    TollCollectionLocation:
      description: |
        Location of the physical toll structure used for the toll collection.
        Typically, this would be a toll booth, but it may also be a transponder reader or a number-plate camera.
        Tolls that are paid via a vignette, for example, do not have toll collection locations, and therefore this element
        would not be present at all.

        The value of this property is a `Location` specifying the coordinates of the payment location.
      properties:
        name:
          description: 'Descriptive name of the location.

'
          type: string
        location:
          "$ref": "#/components/schemas/Location"
      required:
      - location
    TrafficIncident:
      description: |
        An incident describes a temporary event on the road network.
        It typically refers to a real world incident (accident, road construction, weather condition, etc.)
        on a street or street segment
      properties:
        description:
          type: string
          description: A human readable description of the incident
          example: closed due to roadworks
        type:
          "$ref": "#/components/schemas/TrafficIncidentType"
        criticality:
          "$ref": "#/components/schemas/TrafficIncidentCriticality"
        validFrom:
          "$ref": "#/components/schemas/Time"
        validUntil:
          "$ref": "#/components/schemas/Time"
        id:
          description: |
            Traffic Incident unique identifier,

            Example of a incident identifier in standard representation:
            here:traffic:incident:1000155780078589348

            Id usage:
            An incident details can be queried from traffic service later, see
            https://developer.here.com/documentation/traffic-api/dev_guide/topics/use-cases/incidents-by-id.html

            **Notice**:
            In most cases, the ID comes from a third party incident supplier.
            This means that once an incident has expired, the ID might be reused
          type: string
    TransitIncident:
      description: |
        An incident describes disruptions on the transit network.
        Disruptions scale from delays to service cancellations.
      properties:
        summary:
          type: string
          description: A human readable summary of the incident
          example: The subway is closed each night between 1 AM and 5 AM.
        description:
          type: string
          description: A human readable description of the incident
          example: The subway is closed each night between 1 AM and 5 AM while we
            clean our trains and stations. We are running extra bus service overnight.
        type:
          "$ref": "#/components/schemas/TransitIncidentType"
        effect:
          "$ref": "#/components/schemas/TransitIncidentEffect"
        validFrom:
          "$ref": "#/components/schemas/Time"
        validUntil:
          "$ref": "#/components/schemas/Time"
        url:
          description: Link to the original incident published at the agency website
          allOf:
          - "$ref": "#/components/schemas/Uri"
      required:
      - type
      - effect
    TransitModeOutput:
      title: Modes
      description: "Extensible enum: `highSpeedTrain` `intercityTrain` `interRegionalTrain`
        `regionalTrain` `cityTrain` `bus` `ferry` `subway` `lightRail` `privateBus`
        `inclined` `aerial` `busRapid` `monorail` `carShuttleTrain` `flight` `spaceship`
        `...`  \nTransit mode of transport in the route response\n"
      type: string
      x-extensible-enum:
      - highSpeedTrain
      - intercityTrain
      - interRegionalTrain
      - regionalTrain
      - cityTrain
      - bus
      - ferry
      - subway
      - lightRail
      - privateBus
      - inclined
      - aerial
      - busRapid
      - monorail
      - carShuttleTrain
      - flight
      - spaceship
    TransitModesFilter:
      description: 'Transit type filter used to determine which types of transit to
        include in the response. By default, all supported transit types are permitted.
        Mixing of inclusive and exclusive transit types is not allowed.

'
      type: array
      uniqueItems: true
      items:
        "$ref": "#/components/schemas/TransitModeFlags"
    VehicleMode:
      title: Modes
      description: "Extensible enum: `car` `bicycle` `kickScooter` `...`  \nVehicle
        mode of transport\n"
      type: string
      x-extensible-enum:
      - car
      - bicycle
      - kickScooter
      default: car
    VehicleModeExcluded:
      title: Excluded modes
      description: "Extensible enum: `-car` `-bicycle` `-kickScooter` `...`  \nVehicle
        mode to be excluded from the route\n"
      type: string
      x-extensible-enum:
      - "-car"
      - "-bicycle"
      - "-kickScooter"
    VehicleRestriction:
      description: |
        Contains details about violated restrictions.

        Certain properties represent conditions to be evaluated, e.g., according to vehicle properties.
        The restriction is violated if and only if all of the conditions present are met.
      properties:
        title:
          type: string
          description: Detail title
        cause:
          type: string
          description: Cause of the notice
        type:
          type: string
          description: |
            Detail type. Each type of detail might contain extra attributes.

            **NOTE:** The list of possible detail types may be extended in the future.
            The client application is expected to handle such a case gracefully.
        forbiddenHazardousGoods:
          description: |
            Hazardous goods restrictions applied during the trip.

            This condition is met when the vehicle's shippedHazardousGoods
            contains any of the items in this array.
          type: array
          items:
            "$ref": "#/components/schemas/HazardousGoodsRestriction"
        maxGrossWeight:
          description: |
            Contains max permitted gross weight, in kilograms.

            This condition is met when the vehicle's `grossWeight` exceeds this value.
          type: integer
          format: int32
          minimum: 0
        maxWeightPerAxle:
          description: |
            Contains max permitted weight per axle, in kilograms.

            This condition is met when the vehicle's `weightPerAxle` exceeds this value.
          type: integer
          format: int32
          minimum: 0
        maxHeight:
          description: |
            Contains max permitted height, in centimeters.

            This condition is met when the vehicle's `height` exceeds this value.
          type: integer
          format: int32
          minimum: 0
        maxWidth:
          description: |
            Contains max permitted width, in centimeters.

            This condition is met when the vehicle's `width` exceeds this value.
          type: integer
          format: int32
          minimum: 0
        maxLength:
          description: |
            Contains max permitted length, in centimeters.

            This condition is met when the vehicle's `length` exceeds this value.
          type: integer
          format: int32
          minimum: 0
        axleCount:
          description: |
            Constrains the restriction to trucks with number of axles within specified range.

            This condition is met when the vehicle's `axleCount` is within the range specified.
          allOf:
          - "$ref": "#/components/schemas/TruckAxleCountRange"
        tunnelCategory:
          description: |
            Specifies the tunnel category used to restrict transport of specific goods.

            This condition is met when the value exceeds the tunnel category specified
            by the vehicle's `tunnelCategory`
          allOf:
          - "$ref": "#/components/schemas/TunnelCategory"
        timeDependent:
          description: 'Indicates that restriction depends on time.

'
          type: boolean
        truckType:
          description: |
            Constrains the restriction to a specific type of vehicle.

            This condition is met if the `vehicle[type]` request parameter matches this value.
          deprecated: true
          allOf:
          - "$ref": "#/components/schemas/TruckType"
        vehicleType:
          description: |
            Constrains the restriction to a specific type of vehicle.

            This condition is met if the `vehicle[type]` request parameter matches this value.
          allOf:
          - "$ref": "#/components/schemas/VehicleType"
        trailerCount:
          description: |
            Constrains the restriction to trucks with number of axles within specified range.

            This condition is met when the vehicle's `trailerCount` is within the range specified.
          allOf:
          - "$ref": "#/components/schemas/TrailerCountRange"
      required:
      - type
      example:
        "$ref": "#/components/examples/restrictionExample"
    VersionResponse:
      description: Returns the versions of the service components.
      properties:
        apiVersion:
          type: string
          description: The current version of the API.
        serviceVersion:
          type: string
          description: The current version of the service.
        dataVersions:
          type: array
          items:
            "$ref": "#/components/schemas/DataVersion"
          description: Returns the versions of data sets used by the service.
      required:
      - apiVersion
    ViolatedTransportMode:
      description: 'Contains details about violated transport mode on this road, e.g.,
        trucks being generally forbidden.

'
      allOf:
      - "$ref": "#/components/schemas/BaseNoticeDetail"
    WebLink:
      description: The URL address to an external resource.
      properties:
        id:
          description: Unique identifier for the web link. It is used to deduplicate
            links defined in multiple sections.
          type: string
        href:
          "$ref": "#/components/schemas/Uri"
        text:
          description: Text describing the url address (e.g. The example website).
          type: string
        hrefText:
          description: 'The interactive (or clickable) portion of the text. If not
            present (default), the entire content of the text attribute will be considered.

'
          type: string
      required:
      - id
      - text
    AccessPointPlace:
      description: Access point to a venue/station
      properties:
        name:
          description: Location name
          type: string
        waypoint:
          description: If present, this place corresponds to the waypoint in the request
            with the same index.
          type: integer
        type:
          description: |
            Place type. Each place type can have extra attributes.

            **NOTE:** The list of possible place types could be extended in the future.
            The client application is expected to handle such a case gracefully.
          type: string
        location:
          description: |
            The position of this location

            This position was used in route calculation. It may be different to the original position provided in the request.
          allOf:
          - "$ref": "#/components/schemas/Location"
        originalLocation:
          description: If present, the original position of this location provided
            in the request.
          allOf:
          - "$ref": "#/components/schemas/Location"
        wheelchairAccessible:
          description: |
            Information about accessibility for people with a disability and who use a wheelchair.

            * `unknown` - Accessibility information is not available.
            * `yes` - Access point is wheelchair accessible.
            * `limited` - Accessibility is limited or assistance is required.
            * `no` - No accessible path from the access point to platforms.
          allOf:
          - "$ref": "#/components/schemas/WheelchairAccessibility"
      required:
      - type
      - location
    Attribution:
      description: The URL address to an external resource.
      properties:
        id:
          description: Unique identifier for the web link. It is used to deduplicate
            links defined in multiple sections.
          type: string
        href:
          "$ref": "#/components/schemas/Uri"
        text:
          description: Text describing the url address (e.g. The example website).
          type: string
        hrefText:
          description: 'The interactive (or clickable) portion of the text. If not
            present (default), the entire content of the text attribute will be considered.

'
          type: string
        type:
          "$ref": "#/components/schemas/AttributionLinkType"
      required:
      - id
      - text
    BoardAction:
      description: An action to board a ferry.
      allOf:
      - "$ref": "#/components/schemas/BaseAction"
    ChargingStationPlace:
      description: A charging station
      properties:
        name:
          description: Human readable name of this charging station
          type: string
        waypoint:
          description: If present, this place corresponds to the waypoint in the request
            with the same index.
          type: integer
        type:
          description: |
            Place type. Each place type can have extra attributes.

            **NOTE:** The list of possible place types could be extended in the future.
            The client application is expected to handle such a case gracefully.
          type: string
        location:
          description: |
            The position of this location

            This position was used in route calculation. It may be different to the original position provided in the request.
          allOf:
          - "$ref": "#/components/schemas/Location"
        originalLocation:
          description: If present, the original position of this location provided
            in the request.
          allOf:
          - "$ref": "#/components/schemas/Location"
        id:
          description: Identifier of this charging station
          type: string
        connectorAttributes:
          "$ref": "#/components/schemas/ChargingConnectorAttributes"
        brand:
          "$ref": "#/components/schemas/ChargingStationBrand"
      required:
      - type
      - location
    DeboardAction:
      description: An action to disembark a ferry.
      allOf:
      - "$ref": "#/components/schemas/BaseAction"
    DockingStationPlace:
      description: A place represents a docking station for rented vehicles.
      allOf:
      - "$ref": "#/components/schemas/BasePlace"
    OffsetAction:
      description: |
        An action to be performed at or during a specific portion of a section.

        * `depart`: departure maneuver, such as "Start at"
        * `arrive`: arrival maneuver, such as "Arrive at"
        * `continue`: continue maneuver, such as "Continue on"
      properties:
        action:
          description: |
            The type of the action.

            **NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.
          type: string
        duration:
          description: Estimated duration of this action (in seconds). Actions last
            until the next action, or the end of the route in case of the last one.
          allOf:
          - "$ref": "#/components/schemas/Duration"
        instruction:
          description: Description of the action (e.g. Turn left onto Minna St.).
          type: string
        offset:
          description: Offset of a coordinate in the section's polyline.
          type: integer
        length:
          description: Estimated length of this action (in meters). Actions extend
            until the next action, or the end of the route in case of the last one.
          allOf:
          - "$ref": "#/components/schemas/Distance"
        currentRoad:
          description: Attributes of the current road
          allOf:
          - "$ref": "#/components/schemas/RoadInfo"
        nextRoad:
          description: Attributes of the next road
          allOf:
          - "$ref": "#/components/schemas/RoadInfo"
        exitSign:
          description: Attributes of the road exit
          allOf:
          - "$ref": "#/components/schemas/ExitInfo"
      required:
      - action
      - duration
    PedestrianNotice:
      description: A notice contains important notifications.
      properties:
        title:
          type: string
          description: Human-readable notice description.
          example: Violated avoid tunnel
        code:
          type: string
          description: "Extensible enum: `simplePolyline` `pedestrianOptionViolated`
            `violatedAvoidTunnel` `violatedAvoidDirtRoad` `...`  \nCurrently known
            codes (non-exhaustive: this list could be extended for new situations):\n\n|
            Code      | Description  | Severity |\n| --------- | ------- | ----            |\n| simplePolyline | An accurate polyline is not available for this section.
            The returned polyline has been generated from departure and arrival places
            | info |\n| pedestrianOptionViolated | This section violates the parameter
            `pedestrian[speed]` or `pedestrian[maxDistance]` | critical |\n| violatedAvoidTunnel
            | Route did not manage to avoid user preference | critical |\n| violatedAvoidDirtRoad
            | Route did not manage to avoid user preference | critical |\n"
          example: violatedAvoidTunnel
          x-extensible-enum:
          - simplePolyline
          - pedestrianOptionViolated
          - violatedAvoidTunnel
          - violatedAvoidDirtRoad
        severity:
          "$ref": "#/components/schemas/NoticeSeverity"
        details:
          type: array
          description: Additional details about the notice
          items:
            "$ref": "#/components/schemas/BaseNoticeDetail"
      required:
      - code
    PedestrianSpan:
      description: 'Span attached to a `Section` describing pedestrian content.

'
      properties:
        offset:
          description: 'Offset of a coordinate in the section''s polyline.

'
          type: integer
          format: int32
          minimum: 0
        length:
          description: 'Length of the span.

'
          "$ref": "#/components/schemas/Distance"
        duration:
          description: Duration of the span.
          "$ref": "#/components/schemas/Duration"
        streetAttributes:
          description: |
            `StreetAttributes` is applied to a span of a route section and describes attribute flags of a street.
            * `rightDrivingSide`: Do vehicles have to drive on the right-hand side of the road or the left-hand side.
            * `dirtRoad`: This part of the route has an un-paved surface.
            * `tunnel`: This part of the route is a tunnel.
            * `bridge`: This part of the route is a bridge.
            * `ramp`: This part of the route is a ramp (usually connecting to/from/between highways).
            * `motorway`: This part of the route is a controlled access road (usually highways with motorway sign).
            * `roundabout`: This part of the route is a roundabout.
            * `underConstruction`: This part of the route is under construction.
            * `dividedRoad`: This part of the route uses a road with a physical or legal divider in the middle.
            * `privateRoad`: This part of the route uses a privately owned road.
            * `controlledAccessHighway`: This part of the route is a either controlled access or limited access road or both.

            As it is possible that new street attributes are supported in the future, unknown street attributes should be ignored.
          type: array
          items:
            "$ref": "#/components/schemas/StreetAttributes"
        walkAttributes:
          type: array
          description: |
            Accessibility and walk-related attribute flags.

            * `stairs`: This part of the route is a staircase.
            * `park`: This part of the route is in a park.
            * `indoor`: This part of the route is inside a venue.
            * `open`: This part of the route is open to walking.
            * `noThrough`: This part of the route can only be traversed if origin, destination or any via waypoint is located there.
            * `tollRoad`: Access to this part of the route is restricted with a fee (or toll).

            As it is possible that new attributes are supported in the future, unknown attributes should be ignored.
          items:
            "$ref": "#/components/schemas/WalkAttributes"
        carAttributes:
          description: |
            Car specific `AccessAttributes`.

            `AccessAttributes` is applied to a span of a route section and describes access flags of a street.
            * `open`:  A part of the route that is open to cars.
            * `noThrough`:  A part of the route that can only be traversed if origin, destination or any via waypoint is located there.
            * `tollRoad`: Access to this part of the route is restricted with a fee (or toll).

            As it is possible that new access attributes are supported in the future, unknown access attributes should be ignored.
          type: array
          items:
            "$ref": "#/components/schemas/AccessAttributes"
        truckAttributes:
          description: |
            Truck specific `AccessAttributes`.

            `AccessAttributes` is applied to a span of a route section and describes access flags of a street.
            * `open`: This part of the route is open to trucks.
            * `noThrough`: This part of the route can only be traversed if origin, destination or any via waypoint is located there.
            * `tollRoad`: This part of the route is restricted with a fee (or toll).

            As it is possible that new access attributes are supported in the future, unknown access attributes should be ignored.
          type: array
          items:
            "$ref": "#/components/schemas/AccessAttributes"
        scooterAttributes:
          description: |
            Scooter specific `AccessAttributes`.

            `AccessAttributes` is applied to a span of a route section and describes access flags of a street.
            * `open`: This part of the route is open to scooters.

            As it is possible that new access attributes are supported in the future, unknown access attributes should be ignored.
          type: array
          items:
            "$ref": "#/components/schemas/AccessAttributes"
        names:
          description: Designated name for the span (e.g. a street name or a transport
            name)
          type: array
          items:
            "$ref": "#/components/schemas/LocalizedString"
        routeNumbers:
          description: Designated route name or number of the span (e.g. 'M25')
          type: array
          items:
            "$ref": "#/components/schemas/LocalizedString"
        countryCode:
          "$ref": "#/components/schemas/CountryCode"
        stateCode:
          "$ref": "#/components/schemas/StateCode"
        functionalClass:
          "$ref": "#/components/schemas/FunctionalClass"
        speedLimit:
          description: "**NOTE:** Attribute speedLimit is deprecated. Use maxSpeed
            instead.\n"
          "$ref": "#/components/schemas/Speed"
        maxSpeed:
          "$ref": "#/components/schemas/MaxSpeed"
        dynamicSpeedInfo:
          "$ref": "#/components/schemas/DynamicSpeedInfo"
        segmentId:
          description: |
            **NOTE:** Attribute segmentId is deprecated. Use segmentRef instead.

            The directed topology segment id including prefix (e.g '+here:cm:segment:').

            The id consists of two parts.
            * The direction ('+' or '-')
            * followed by the topology segment id (a unique identifier within the HERE platform catalogs).

            The direction specifies whether the route is using the segment in its canonical direction ('+' aka traveling along the geometry's direction), or against it ('-' aka traveling against the geometry's direction).
          type: string
          deprecated: true
        segmentRef:
          description: |
            A reference to the HMC topology segment used in this span.

            The standard representation of a segment reference has the following structure:
            {catalogHrn}:{catalogVersion}:({layerId})?:{tileId}:{segmentId}(#{direction}({startOffset}..{endOffset})?)?

            The individual parts are:
            * catalogHrn: The HERE Resource Name that identifies the source catalog of the segment, example: hrn:here:data::olp-here:rib-2
            * catalogVersion: The catalog version
            * layerId (optional): The layer inside the catalog where the segment can be found, example: topology-geometry
            * tileId: The HERE tile key of the partition/tile where the segment is located in the given version of the catalog. This can be on a lower level than the actual segment is stored at (for example, the provided tile ID can be on level 14, despite topology-geometry partitions being tiled at level 12). The level of a HERE tile key is indicated by the position of the highest set bit in binary representation. Since the HERE tile key represents a morton code of the x and y portion of the Tile ID, the level 12 tile ID can be retrieved from the level 14 tile ID by removing the 4 least significant bits (or 2 bits per level) or 1 hexadecimal digit. For example, the level 14 tile 377894441 is included in the level 12 tile 23618402 (377894441<sub>10</sub> = 16863629<sub>16</sub> &rightarrow; 1686362<sub>16</sub> = 23618402<sub>10</sub>)
            * segmentId: The identifier of the referenced topology segment inside the catalog, example: here:cm:segment:84905195
            * direction (optional): Either '*' for undirected or bidirectional, '+' for positive direction, '-' for negative direction, or '?' for unknown direction (not used by the routing service)
            * startOffset/endOffset (optional): The start- and end offset are non-negative numbers between 0 and 1, representing the start and end of the referenced range using a proportion of the length of the segment. 0 represents the start and 1 the end of the segment, relative to the indicated direction (or positive direction in case of undirected segments). Example: 0.7..1

            Example of a segment reference in standard representation:
            hrn:here:data::olp-here:rib-2:1363::377894441:here:cm:segment:84905195#+0.7..1

            The segment references can also be provided in a compact representation, to reduce the response size. In the compact representation, some parts are replaced by placeholders, which can be resolved using the refReplacements dictionary in the parent section.
            The placeholder format is ```\$\d+``` and needs to be surrounded by colons or string start/end. It can be captured with the following regular expression: ```(^|:)\$\d+(:|$)/``` .

            Example of the segment reference previously mentioned in compact representation:
            $0:377894441:$1:84905195#+0.7..1
            With the corresponding refReplacements:
            "refReplacements": {
              "0": "hrn:here:data::olp-here:rib-2:1363:",
              "1": "here:cm:segment"
            }
          type: string
        baseDuration:
          description: |
            Duration of this span (in seconds) ignoring time-aware information.

            For pedestrian mode, the reported time is currently equal to that in `duration`.
          "$ref": "#/components/schemas/Duration"
        typicalDuration:
          description: |
            Duration of this span (in seconds) under typical traffic conditions.

            For pedestrian mode, the reported time is currently equal to that in `duration`.
          "$ref": "#/components/schemas/Duration"
        incidents:
          description: |
            A list of indices into the incident array of the parent section.
            References all incidents that apply to the span.
          type: array
          items:
            type: integer
    PedestrianSummary:
      description: Total value of key attributes for a route section.
      properties:
        duration:
          "$ref": "#/components/schemas/Duration"
        length:
          "$ref": "#/components/schemas/Distance"
        baseDuration:
          description: |
            Duration (in seconds) ignoring time-aware information.

            For pedestrian mode, the reported time is currently equal to that in `duration`.
          allOf:
          - "$ref": "#/components/schemas/Duration"
      required:
      - duration
      - length
    PedestrianTransport:
      description: Information about a transport
      properties:
        mode:
          "$ref": "#/components/schemas/PedestrianMode"
      required:
      - mode
    Place:
      description: A place represents a generic location relevant for the route.
      allOf:
      - "$ref": "#/components/schemas/BasePlace"
    RangePrice:
      properties:
        type:
          description: |
            Type of price represented by this object. The API customer is responsible for correctly visualizing
            the pricing model. As it is possible to extend the supported price types in the future,
            the price information should be hidden when an unknown type is encountered.

            Available price types are:

              * `value` - A single value.
              * `range` - A range value that includes a minimum and maximum price.
          type: string
        estimated:
          description: Attribute value is `true` if the fare price is estimated, `false`
            if it is an exact value.
          type: boolean
          default: false
        currency:
          description: Local currency of the price compliant to ISO 4217
          type: string
        unit:
          description: |
            When set, the price is paid for a specific duration.

            Examples:
              * `"unit": 3600` - price for one hour
              * `"unit": 28800` - price for 8 hours
              * `"unit": 86400` - price for one day
          allOf:
          - "$ref": "#/components/schemas/Duration"
        minimum:
          description: Minimum price
          type: number
        maximum:
          description: Maximum price
          type: number
      required:
      - type
      - currency
      - minimum
      - maximum
    RentedModesFilter:
      oneOf:
      - type: array
        uniqueItems: true
        description: Enables specified rented types and disable everything else
        items:
          "$ref": "#/components/schemas/RentedMode"
      - type: array
        uniqueItems: true
        description: Use to disable specified rented types and enabled everything
          else
        items:
          "$ref": "#/components/schemas/RentedModeExcluded"
    SinglePrice:
      properties:
        type:
          description: |
            Type of price represented by this object. The API customer is responsible for correctly visualizing
            the pricing model. As it is possible to extend the supported price types in the future,
            the price information should be hidden when an unknown type is encountered.

            Available price types are:

              * `value` - A single value.
              * `range` - A range value that includes a minimum and maximum price.
          type: string
        estimated:
          description: Attribute value is `true` if the fare price is estimated, `false`
            if it is an exact value.
          type: boolean
          default: false
        currency:
          description: Local currency of the price compliant to ISO 4217
          type: string
        unit:
          description: |
            When set, the price is paid for a specific duration.

            Examples:
              * `"unit": 3600` - price for one hour
              * `"unit": 28800` - price for 8 hours
              * `"unit": 86400` - price for one day
          allOf:
          - "$ref": "#/components/schemas/Duration"
        value:
          description: The price value
          type: number
      required:
      - type
      - currency
      - value
    StationPlace:
      description: A station
      properties:
        name:
          description: Location name
          type: string
        waypoint:
          description: If present, this place corresponds to the waypoint in the request
            with the same index.
          type: integer
        type:
          description: |
            Place type. Each place type can have extra attributes.

            **NOTE:** The list of possible place types could be extended in the future.
            The client application is expected to handle such a case gracefully.
          type: string
        location:
          description: |
            The position of this location

            This position was used in route calculation. It may be different to the original position provided in the request.
          allOf:
          - "$ref": "#/components/schemas/Location"
        originalLocation:
          description: If present, the original position of this location provided
            in the request.
          allOf:
          - "$ref": "#/components/schemas/Location"
        id:
          description: Identifier of this station
          type: string
        platform:
          description: Platform name or number for the departure.
          type: string
        code:
          description: Short text or a number that identifies the place for riders.
          type: string
        wheelchairAccessible:
          description: |
            Information about accessibility for people with a disability and who use a wheelchair.

            * `unknown` - Accessibility information is not available.
            * `yes` - There exists some accessible path from outside the station to the specific stop/platform.
            * `limited` - Accessibility is limited or assistance is required.
            * `no` - There exists no accessible path from outside the station to the specific stop/platform.
          allOf:
          - "$ref": "#/components/schemas/WheelchairAccessibility"
      required:
      - type
      - location
    TaxiModesFilter:
      oneOf:
      - type: array
        uniqueItems: true
        description: Enables specified vehicle types and disable everything else
        items:
          "$ref": "#/components/schemas/TaxiMode"
      - type: array
        uniqueItems: true
        description: Use to disable specified vehicle types and enabled everything
          else
        items:
          "$ref": "#/components/schemas/TaxiModeExcluded"
    TaxiTransport:
      description: Information about a transport
      properties:
        mode:
          "$ref": "#/components/schemas/TaxiMode"
        name:
          description: Vehicle name or mobility provider name
          type: string
          example: RadioTaxi
        category:
          description: Human readable transport category (e.g. BikeShare, CarShare,
            Taxi, ...)
          type: string
        color:
          description: Color of the transport polyline and background for the transport
            name.
          allOf:
          - "$ref": "#/components/schemas/Color"
        textColor:
          description: Color of the transport name.
          allOf:
          - "$ref": "#/components/schemas/Color"
        model:
          description: Vehicle model.
          type: string
        licensePlate:
          description: Vehicle license plate number.
          type: string
        seats:
          description: Number of free seats on the vehicle.
          type: integer
        engine:
          description: Vehicle engine type.
          type: string
          enum:
          - combustion
          - electric
      required:
      - mode
    TransitNotice:
      description: A notice contains important notifications.
      properties:
        title:
          type: string
          description: Human-readable notice description.
          example: No schedule
        code:
          type: string
          description: "Extensible enum: `noSchedule` `noIntermediate` `unwantedMode`
            `scheduledTimes` `simplePolyline` `violatedAvoidFerry` `violatedAvoidTrainFerry`
            `...`  \nCurrently known codes (non-exhaustive: this list could be extended
            for new situations):\n\n| Code      | Description  | Severity |\n| ------            | ------- | ------- |\n| noSchedule | A timetable schedule is not available
            for the transit line in this section, and only the run frequency is available.
            As a result, departure/arrival times are approximated | info |\n| noIntermediate
            | Information about intermediate stops is not available for this transit
            line | info |\n| unwantedMode | This section contains a transport mode
            that was explicitly disabled. Mode filtering is not available in this
            area | info |\n| scheduledTimes | The times returned on this section are
            the scheduled times even though delay information are available | info
            |\n| simplePolyline | An accurate polyline is not available for this section.
            The returned polyline has been generated from departure and arrival places
            | info |\n| violatedAvoidFerry | Route did not manage to avoid user preference
            | critical |\n| violatedAvoidTrainFerry | Route did not manage to avoid
            user preference | critical |\n"
          example: noSchedule
          x-extensible-enum:
          - noSchedule
          - noIntermediate
          - unwantedMode
          - scheduledTimes
          - simplePolyline
          - violatedAvoidFerry
          - violatedAvoidTrainFerry
        severity:
          "$ref": "#/components/schemas/NoticeSeverity"
        details:
          type: array
          description: Additional details about the notice
          items:
            "$ref": "#/components/schemas/BaseNoticeDetail"
      required:
      - code
    TransitSpan:
      description: |
        Contains information attached to a contiguous part of a `Section`. The information may be
        attached along different dimensions of a section which are geometry (spatial), distance or
        time.

        A section, if it uses spans, has an optional attribute `spans` which is an array of
        extended `Span` types.

        The attributes of a span which should be returned in the response are
        configured by a request parameter.

        Use this type as a base for any span extension for sections that provide spans.
      properties:
        offset:
          description: 'Offset of a coordinate in the section''s polyline.

'
          type: integer
          format: int32
          minimum: 0
        length:
          description: 'Length of the span.

'
          "$ref": "#/components/schemas/Distance"
        duration:
          description: Duration of the span.
          "$ref": "#/components/schemas/Duration"
        countryCode:
          "$ref": "#/components/schemas/CountryCode"
        stateCode:
          "$ref": "#/components/schemas/StateCode"
        names:
          description: Designated name for the span (e.g. a street name or a transport
            name)
          type: array
          items:
            "$ref": "#/components/schemas/LocalizedString"
        segmentId:
          description: |
            **NOTE:** Attribute segmentId is deprecated. Use segmentRef instead.

            The directed topology segment id including prefix (e.g '+here:cm:segment:').

            The id consists of two parts.
            * The direction ('+' or '-')
            * followed by the topology segment id (a unique identifier within the HERE platform catalogs).

            The direction specifies whether the route is using the segment in its canonical direction ('+' aka traveling along the geometry's direction), or against it ('-' aka traveling against the geometry's direction).

            This attribute will not appear for HERE Public Transit v8 and HERE Intermodal Routing v8 requests
          type: string
          deprecated: true
        segmentRef:
          description: |
            A reference to the HMC topology segment used in this span.

            The standard representation of a segment reference has the following structure:
            {catalogHrn}:{catalogVersion}:({layerId})?:{tileId}:{segmentId}(#{direction}({startOffset}..{endOffset})?)?

            The individual parts are:
            * catalogHrn: The HERE Resource Name that identifies the source catalog of the segment, example: hrn:here:data::olp-here:rib-2
            * catalogVersion: The catalog version
            * layerId (optional): The layer inside the catalog where the segment can be found, example: topology-geometry
            * tileId: The HERE tile key of the partition/tile where the segment is located in the given version of the catalog. This can be on a lower level than the actual segment is stored at (for example, the provided tile ID can be on level 14, despite topology-geometry partitions being tiled at level 12). The level of a HERE tile key is indicated by the position of the highest set bit in binary representation. Since the HERE tile key represents a morton code of the x and y portion of the Tile ID, the level 12 tile ID can be retrieved from the level 14 tile ID by removing the 4 least significant bits (or 2 bits per level) or 1 hexadecimal digit. For example, the level 14 tile 377894441 is included in the level 12 tile 23618402 (377894441<sub>10</sub> = 16863629<sub>16</sub> &rightarrow; 1686362<sub>16</sub> = 23618402<sub>10</sub>)
            * segmentId: The identifier of the referenced topology segment inside the catalog, example: here:cm:segment:84905195
            * direction (optional): Either '*' for undirected or bidirectional, '+' for positive direction, '-' for negative direction, or '?' for unknown direction (not used by the routing service)
            * startOffset/endOffset (optional): The start- and end offset are non-negative numbers between 0 and 1, representing the start and end of the referenced range using a proportion of the length of the segment. 0 represents the start and 1 the end of the segment, relative to the indicated direction (or positive direction in case of undirected segments). Example: 0.7..1

            This attribute will not appear for HERE Public Transit v8 and HERE Intermodal Routing v8 requests

            Example of a segment reference in standard representation:
            hrn:here:data::olp-here:rib-2:1363::377894441:here:cm:segment:84905195#+0.7..1

            The segment references can also be provided in a compact representation, to reduce the response size. In the compact representation, some parts are replaced by placeholders, which can be resolved using the refReplacements dictionary in the parent section.
            The placeholder format is ```\$\d+``` and needs to be surrounded by colons or string start/end. It can be captured with the following regular expression: ```(^|:)\$\d+(:|$)/``` .

            Example of the segment reference previously mentioned in compact representation:
            $0:377894441:$1:84905195#+0.7..1
            With the corresponding refReplacements:
            "refReplacements": {
              "0": "hrn:here:data::olp-here:rib-2:1363:",
              "1": "here:cm:segment"
            }
          type: string
        refReplacements:
          description: |
            Dictionary of placeholders to replacement strings for the compact representation of map entity references.

            This attribute will not appear for HERE Public Transit v8 and HERE Intermodal Routing v8 requests
          type: object
          additionalProperties:
            type: string
    TransitTransport:
      description: Transit transport information.
      properties:
        mode:
          "$ref": "#/components/schemas/TransitModeOutput"
        name:
          description: Transit line name
          type: string
          example: U2
        headsign:
          description: Transit line headsign
          type: string
        category:
          description: Human readable transport category (such as Bus, Gondola, Tram,
            Train, ...)
          type: string
        color:
          description: Color of the transport polyline and background for the transport
            name.
          allOf:
          - "$ref": "#/components/schemas/Color"
        textColor:
          description: Color of the transport name.
          allOf:
          - "$ref": "#/components/schemas/Color"
        shortName:
          description: Short name of a transit line.
          type: string
          example: U2
        longName:
          description: Long name of a transit line.
          type: string
          example: Pankow - Ruhleben
      required:
      - mode
    VehicleModesFilter:
      oneOf:
      - type: array
        uniqueItems: true
        description: Enables specified vehicle types and disable everything else
        items:
          "$ref": "#/components/schemas/VehicleMode"
      - type: array
        uniqueItems: true
        description: Use to disable specified vehicle types and enabled everything
          else
        items:
          "$ref": "#/components/schemas/VehicleModeExcluded"
    VehicleNoticeDetail:
[...]
