openapi: 3.0.2
servers:
  - description: Production server for the HERE Routing Service
    url: 'https://router.hereapi.com/v8'
info:
  description: A location service providing customizable route calculations for a variety of vehicle types as well as pedestrian modes.
  license:
    name: HERE Documentation License
    url: 'https://legal.here.com/en-gb/terms/documentation-license'
  termsOfService: 'http://developer.here.com/terms-conditions'
  title: Routing API v8
  version: 8.58.3
  x-apisguru-categories:
    - location
  x-document-meta-data:
    copyright: © 2023 HERE Europe B.V.
    date-created: '2023-02-21T15:56:22+00:00'
    document-id: 290a7d22-6810-4e1b-8ba5-a35537f64a94
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://avatars.githubusercontent.com/u/2835506'
  x-origin:
    - format: openapi
      url: 'https://developer.here.com/documentation/routing-api/swagger/v8.yaml'
      version: '3.0'
  x-providerName: here.com
  x-serviceName: routing
security:
  - Bearer: []
  - ApiKey: []
tags:
  - name: Routing
  - description: Additional API Information
    name: API Information
paths:
  /health:
    get:
      description: Returns the health of the service
      operationId: getHealth
      parameters:
        - $ref: '#/components/parameters/xRequestId'
      responses:
        '200':
          $ref: '#/components/responses/HealthResponseOkWithRequestID'
        default:
          $ref: '#/components/responses/HealthResponseFailWithRequestID'
      security: []
      summary: Health status of the service
      tags:
        - API Information
  /import:
    post:
      description: |
        Creates a route from a sequence of trace points.

        Post body size limit is 10MiB.
      operationId: importRoute
      parameters:
        - $ref: '#/components/parameters/transportMode'
        - $ref: '#/components/parameters/departureTimeWithAny'
        - $ref: '#/components/parameters/avoid'
        - $ref: '#/components/parameters/exclude'
        - $ref: '#/components/parameters/units'
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/return'
        - $ref: '#/components/parameters/spans'
        - $ref: '#/components/parameters/truck'
        - $ref: '#/components/parameters/vehicle'
        - $ref: '#/components/parameters/evConsumption'
        - $ref: '#/components/parameters/xRequestId'
        - $ref: '#/components/parameters/scooter'
        - $ref: '#/components/parameters/taxi'
      requestBody:
        content:
          application/geo+json:
            schema:
              $ref: '#/components/schemas/ImportGeoBody'
          application/json:
            schema:
              $ref: '#/components/schemas/MatchTrace'
      responses:
        '200':
          $ref: '#/components/responses/RoutesResponseOk'
        '400':
          $ref: '#/components/responses/InvalidRoutesRequestResponse'
        '401':
          $ref: '#/components/responses/401ErrorResponseWithRequestID'
        '403':
          $ref: '#/components/responses/Routing403ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorRoutesResponse'
      summary: Calculate a route from a sequence of trace points
      tags:
        - Routing
  /routes:
    get:
      description: 'Calculates a route using a generic vehicle/pedestrian mode, e.g. car, truck, pedestrian, etc...'
      operationId: calculateRoutes
      responses:
        '200':
          $ref: '#/components/responses/RoutesResponseOk'
        '400':
          $ref: '#/components/responses/InvalidRoutesRequestResponse'
        '401':
          $ref: '#/components/responses/401ErrorResponseWithRequestID'
        '403':
          $ref: '#/components/responses/Routing403ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorRoutesResponse'
      summary: Calculate routes via GET
      tags:
        - Routing
    parameters:
      - $ref: '#/components/parameters/transportMode'
      - $ref: '#/components/parameters/origin'
      - $ref: '#/components/parameters/destination'
      - $ref: '#/components/parameters/via'
      - $ref: '#/components/parameters/departureTimeWithAny'
      - $ref: '#/components/parameters/arrivalTime'
      - $ref: '#/components/parameters/routingMode'
      - $ref: '#/components/parameters/alternatives'
      - $ref: '#/components/parameters/avoid'
      - $ref: '#/components/parameters/exclude'
      - $ref: '#/components/parameters/units'
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/return'
      - $ref: '#/components/parameters/spans'
      - $ref: '#/components/parameters/truck'
      - $ref: '#/components/parameters/vehicle'
      - $ref: '#/components/parameters/ev'
      - $ref: '#/components/parameters/pedestrianSpeed'
      - $ref: '#/components/parameters/xRequestId'
      - $ref: '#/components/parameters/scooter'
      - $ref: '#/components/parameters/currency'
      - $ref: '#/components/parameters/customizations'
      - $ref: '#/components/parameters/taxi'
      - $ref: '#/components/parameters/tolls'
      - $ref: '#/components/parameters/maxSpeedOnSegment'
      - $ref: '#/components/parameters/traffic'
    post:
      description: |
        Calculates a route using a generic vehicle/pedestrian mode, e.g. car, truck, pedestrian, etc...

        At the moment, only select parameters are permitted in the POST payload. In particular, those parameters
        that due to request size may be limited in the query string. See the request body section below. These
        parameters can be provided either in the query string or in the POST body. However, if a parameter is
        provided in both, the request will fail. All other parameters can only be provided in the query string
        at the moment.

        Post body size limit is 10MiB.
      operationId: calculateRoutesPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalculateRoutesPostParameters'
      responses:
        '200':
          $ref: '#/components/responses/RoutesResponseOk'
        '400':
          $ref: '#/components/responses/InvalidRoutesRequestResponse'
        '401':
          $ref: '#/components/responses/401ErrorResponseWithRequestID'
        '403':
          $ref: '#/components/responses/Routing403ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorRoutesResponse'
      summary: Calculate routes via POST
      tags:
        - Routing
  '/routes/{routeHandle}':
    get:
      description: |
        Decodes and returns a route from a previously calculated route handle.

        **Disclaimer: A route handle is not suitable for persistent route storage! It can be
        invalidated at any time.**

        A route handle encodes a previously calculated route. A route can be decoded from a handle
        as long as the service uses the same map data and encoding that were used when retrieving the handle.

        Thus it is suitable for caching routes compactly. It can be used to retrieve updated traffic
        information or other data along the route. However, a user should be prepared to recalculate
        the route when decoding the handle fails.

        All parameters of the `/routes` endpoint are supported, except for `destination`, `via`,
        `alternatives` and `routingMode`. See also the `return` parameter of `/routes` endpoint.

        The `origin` parameter can be provided to update the start of the previously calculated
        route.

        The `transportMode` parameter does not have to match the transport mode previously used for
        route calculation. However, when using a different transport mode, the request may fail,
        e.g. when the route has road segments forbidden for the provided transport mode.

        Please refer to the developers' guide for more information and examples.
      operationId: getRoutesByHandle
      responses:
        '200':
          $ref: '#/components/responses/RoutesResponseOk'
        '400':
          $ref: '#/components/responses/InvalidRoutesRequestResponse'
        '401':
          $ref: '#/components/responses/401ErrorResponseWithRequestID'
        '403':
          $ref: '#/components/responses/Routing403ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorRoutesResponse'
      summary: Get route by handle via GET
      tags:
        - Routing
    parameters:
      - $ref: '#/components/parameters/routeHandle'
      - $ref: '#/components/parameters/transportMode'
      - $ref: '#/components/parameters/routeHandleOrigin'
      - $ref: '#/components/parameters/departureTimeWithAny'
      - $ref: '#/components/parameters/avoid'
      - $ref: '#/components/parameters/exclude'
      - $ref: '#/components/parameters/units'
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/return'
      - $ref: '#/components/parameters/spans'
      - $ref: '#/components/parameters/truck'
      - $ref: '#/components/parameters/vehicle'
      - $ref: '#/components/parameters/evConsumption'
      - $ref: '#/components/parameters/pedestrianSpeed'
      - $ref: '#/components/parameters/xRequestId'
      - $ref: '#/components/parameters/scooter'
      - $ref: '#/components/parameters/currency'
      - $ref: '#/components/parameters/rerouting'
      - $ref: '#/components/parameters/taxi'
      - $ref: '#/components/parameters/tolls'
      - $ref: '#/components/parameters/maxSpeedOnSegment'
      - $ref: '#/components/parameters/traffic'
    post:
      description: |
        Decodes and returns a route from a previously calculated route handle.

        **Disclaimer: A route handle is not suitable for persistent route storage! It can be
        invalidated at any time.**

        A route handle encodes a previously calculated route. A route can be decoded from a handle
        as long as the service uses the same map data and encoding that were used when retrieving the handle.

        Thus it is suitable for caching routes compactly. It can be used to retrieve updated traffic
        information or other data along the route. However, a user should be prepared to recalculate
        the route when decoding the handle fails.

        All parameters of the `/routes` endpoint are supported, except for `destination`, `via`,
        `alternatives` and `routingMode`. See also the `return` parameter of `/routes` endpoint.

        The `origin` parameter can be provided to update the start of the previously calculated
        route.

        The `transportMode` parameter does not have to match the transport mode previously used for
        route calculation. However, when using a different transport mode, the request may fail,
        e.g. when the route has road segments forbidden for the provided transport mode.

        Parameters can be provided either in the query string or some selected ones also in the POST
        body. If a parameter is provided in both, the request will fail.

        Post body size limit is 10MiB.

        Please refer to the developers' guide for more information and examples.
      operationId: getRoutesByHandlePost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetRoutesByHandlePostParameters'
      responses:
        '200':
          $ref: '#/components/responses/RoutesResponseOk'
        '400':
          $ref: '#/components/responses/InvalidRoutesRequestResponse'
        '401':
          $ref: '#/components/responses/401ErrorResponseWithRequestID'
        '403':
          $ref: '#/components/responses/Routing403ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorRoutesResponse'
      summary: Get route by handle via POST
      tags:
        - Routing
  /version:
    get:
      description: Returns the version of the service
      operationId: getVersion
      parameters:
        - $ref: '#/components/parameters/xRequestId'
      responses:
        '200':
          $ref: '#/components/responses/VersionResponseOkWithRequestID'
        '500':
          $ref: '#/components/responses/500ErrorResponseWithRequestID'
        '502':
          $ref: '#/components/responses/502ErrorResponseWithRequestID'
        '503':
          $ref: '#/components/responses/503ErrorResponseWithRequestID'
        '504':
          $ref: '#/components/responses/504ErrorResponseWithRequestID'
      security: []
      summary: Full version of the API
      tags:
        - API Information
components:
  examples:
    400RoutingErrorResponseExample:
      value:
        action: ''
        cause: missing field `destination`
        code: E605001
        correlationId: 4199533b-6290-41db-8d79-edf4f4019a74
        status: 400
        title: Malformed request
    401errorResponseExample:
      value:
        error: Unauthorized
        error_description: No credentials found
    403RoutingErrorResponseExample:
      value:
        action: Obtain credentials that allow you to calculate routes in Japan
        cause: Your credentials are not allowed to calculate routes in Japan
        code: E605101
        correlationId: 4199533b-6290-41db-8d79-edf4f4019a74
        status: 403
        title: Not allowed
    500RoutingErrorResponseExample:
      value:
        action: ''
        cause: ''
        code: E605500
        correlationId: 4199533b-6290-41db-8d79-edf4f4019a74
        status: 500
        title: Internal server error
    500errorResponseExample:
      value:
        action: ''
        cause: Internal Server Error
        code: E600103
        correlationId: ''
        status: 500
        title: 'failed with reason: internal server error'
    502errorResponseExample:
      value:
        action: ''
        cause: Bad Gateway
        code: E600002
        correlationId: ''
        status: 502
        title: 'failed with reason: bad gateway'
    503errorResponseExample:
      value:
        action: ''
        cause: Service Unavailable
        code: E600001
        correlationId: ''
        status: 503
        title: 'failed with reason: service unavailable'
    504errorResponseExample:
      value:
        action: ''
        cause: Gateway Timeout
        code: E600000
        correlationId: ''
        status: 504
        title: 'failed with reason: gateway timeout'
    ReroutingExample:
      value:
        lastTraveledSectionIndex: 0
        mode: returnToRoute
        traveledDistanceOnLastSection: 142
    VersionResponseOkExample:
      value:
        - apiVersion: 8.18.0
        - serviceVersion: 2022-12-15-b706cc8c-9057409
        - dataVersions:
            - name: traffic-feed
              version: '2023-01-31T14:41:36+00:00'
            - name: 'hrn:here:data::olp-here:rib-2'
              version: '4898'
            - name: 'hrn:here:data::olp-here:here-map-content-japan-2'
              version: '65'
            - name: optimized-map-for-routing
              version: 2022.346.5.48
    calculateRoutesPostParametersExample:
      value:
        avoid:
          areas:
            - 'polygon:52.416,13.082;52.626,13.628;52.916,13.482'
            - 'polygon:BG8mnlkD6-9wZAmrR19DAAlrR'
            - 'bbox:13.082,52.416,13.628,52.626'
          segments:
            - 'here:cm:segment:99994525'
        ev:
          preferredBrands:
            - 6e1a148e8ddf06f613599134197b7c1c
            - 6211c90a063d36429b599dda79ae85e3
    matchTraceExample:
      value:
        trace:
          - lat: 52
            lng: 13.1
          - lat: 52.1
            lng: 13.2
          - lat: 52.2
            lng: 13.3
        via:
          - index: 1
    noticeWithRestrictionsExample:
      description: |
        Example of a notice indicating violation of a restriction that applies to vehicles
        over 12 tons and having between 2 and 4 axles (inclusive).
      value:
        code: violatedVehiceRestriction
        details:
          - axleCount:
              from: 2
              to: 4
            cause: Route violates vehicle restriction
            maxGrossWeight: 12000
            type: restriction
        severity: critical
        title: Violated vehicle restriction.
    restrictionExample:
      description: |
        Example modeling the following set of conditions which apply on one section of a road:
        * 12t weight
        * 3m height
        * forbidden transportation of gas
      value:
        forbiddenHazardousGoods:
          - gas
        maxGrossWeight: 12000
        maxHeight: 300
        type: restriction
    routeResponseExample:
      value:
        routes:
          - id: 1793a897-0843-4957-ab63-c61e0f13aff2
            sections:
              - actions:
                  - action: depart
                    duration: 126
                    instruction: Head toward Chausseestraße on Invalidenstraße. Go for 1.2 km.
                    offset: 0
                  - action: arrive
                    duration: 0
                    instruction: Arrive at Invalidenstraße.
                    offset: 78
                arrival:
                  place:
                    location:
                      lat: 52.52639072947204
                      lng: 13.368653766810894
                    type: place
                  time: '2019-12-05T15:18:02+01:00'
                departure:
                  place:
                    location:
                      lat: 52.53100287169218
                      lng: 13.38464098982513
                    type: place
                  time: '2019-12-05T15:15:56+01:00'
                id: c3e300ab-a880-4fab-9bb2-702355b2bf6b
                polyline: BG2znmkDi89wZ9ChKAA1IvfAArH5cAArHvbAA1CrJAArF5SAAtP9yBAAT1E3E3QAA_BrH3M9sBAA_F5SAA3KlkBAA1EtNAApB_DAAhC1EAApB1I_D5OAA3ErPAApFtTAAtN_wBAA1GtVAA5U3lCAA_DhOAA3KliBAAtXjvCAArDtLAA1EhQAA1CrJAA_BrFAAvbl9CAAhIvZ_FtTrDtLAAV1I1CtNAA1E3QAArLnoB1G5YAAhGhSpBrFAAhC1GAA1FxT
                spans:
                  - length: 787
                    names:
                      - language: de
                        value: Invalidenstraße
                    offset: 0
                  - length: 51
                    names:
                      - language: de
                        value: Invalidenstraße
                      - language: de
                        value: Sandkrugbrücke
                    offset: 49
                  - length: 362
                    names:
                      - language: de
                        value: Invalidenstraße
                    offset: 57
                summary:
                  duration: 126
                  length: 1200
                transport:
                  mode: car
                type: vehicle
    routeResponseNoticeExample:
      value:
        code: couldNotMatchOrigin
        severity: critical
        title: 'Route calculation failed: Couldn''t match origin.'
  headers:
    X-Correlation-Id:
      description: Auto-generated id that univocally identifies the request.
      example: 4199533b-6290-41db-8d79-edf4f4019a74
      schema:
        type: string
    X-Request-Id:
      description: User-provided token that can be used to trace a request or a group of requests sent to the service.
      example: 8230d7ad-3f1c-4191-a8dd-f3c42026da89
      schema:
        type: string
  parameters:
    alternatives:
      description: Number of alternative routes to return aside from the optimal route.
      in: query
      name: alternatives
      required: false
      schema:
        default: 0
        maximum: 6
        minimum: 0
        type: integer
    arrivalTime:
      allowReserved: true
      description: |
        Specifies the time of arrival as defined by either `date-time` or `full-date` `T` `partial-time` in `RFC 3339`, section 5.6 (for example, `2019-06-24T01:23:45`).
        The requested time is converted to the local time at destination. When the optional timezone offset is
        not specified, time is assumed to be local.
        All `Time` values in the response are returned in the timezone of each location.

        Note : The following features do not support the arrivalTime parameter:
        * EV Routing
        * Route Handle
        * Route Import
      in: query
      name: arrivalTime
      required: false
      schema:
        $ref: '#/components/schemas/Time'
    avoid:
      allowReserved: true
      description: |
        Avoid routes that violate certain features of road network or that go through
        user-specified geographical bounding boxes.

        Note that if the origin, destination, or any via is in an avoided area or on an avoided
        feature, a route is produced that violates the avoid restriction. In such a case, the
        route is trying to minimize the violation of the avoid restrictions and can therefore
        include large deviations from a route that is calculated without these avoid
        restrictions.

        It is also possible that the produced route violates the avoid restriction in between
        waypoints, if no other route is possible or too hard to find. One such example is
        requesting a route to an island that is only reachable with ferries while specifying
        `avoid[features]=ferry`.

        Further, avoid can cause the route calculation to fail, if no route is possible or too
        hard to find.

        Specify properties using array notation like `avoid[features]=controlledAccessHighway,tunnel`.
      examples:
        area:
          summary: Avoid a specific geographical bounding box
          value:
            areas: 'bbox:13.082,52.416,13.628,52.626'
        areas:
          summary: Avoid multiple geographical bounding boxes using `|` as element separator
          value:
            areas: 'bbox:13.3127778,52.5106221,13.3495852,52.5255681|bbox:13.3958343,52.5171209,13.4286456,52.5405511'
        complete:
          summary: Avoid both features and geographical bounding boxes
          value:
            features: 'tollRoad,tunnel&avoid[areas]=bbox:13.082,52.416,13.628,52.626'
        features:
          summary: Avoid specific features like `tunnel' or `ferry`
          value:
            features: 'tunnel,ferry'
        segment:
          summary: Avoid a segment using its identifier
          value:
            segments: 'here:cm:segment:207551710'
        segmentsWithDirection:
          summary: 'Avoid two segments using their identifiers, also specifying the direction'
          value:
            segments: 'here:cm:segment:207551710#+,here:cm:segment:76771992#*'
        tollTransponders:
          summary: Avoid all toll transponders
          value:
            tollTransponders: all
        truckRoadTypes:
          summary: Avoid the specified truck road types
          value:
            truckRoadTypes: 'BK1,BK2,BK3,BK4'
        zoneCategory:
          summary: Avoid all environmental zones
          value:
            zoneCategories: environmental
        zoneCategoryWithException:
          summary: Avoid all environmental zones except a specific one
          value:
            zoneCategories: 'environmental;exceptZoneIds=here:cm:envzone:2'
        zones:
          summary: Avoid multiple environmental zones using identifiers
          value:
            zoneIdentifiers: 'here:cm:envzone:2,here:cm:envzone:3'
      in: query
      name: avoid
      required: false
      schema:
        $ref: '#/components/schemas/Avoid'
      style: deepObject
    currency:
      description: |
        Currency code compliant to ISO 4217.
        Costs for the calculated route will be returned using this currency.

        If not provided, the router will specify it.
        On a best-effort basis, the router will try to specify the costs in the local currency.
      in: query
      name: currency
      required: false
      schema:
        type: string
    customizations:
      allowReserved: true
      description: |
        Specifies a list of customizations to be used. The data provided by these customizations either
        replaces or augments the standard HERE map data. The provided credentials must authorize access
        to all of the customizations specified.

        **Alpha**: This API is in development. It may not be stable and is subject to change.
      in: query
      name: customizations
      required: false
      schema:
        items:
          $ref: '#/components/schemas/CustomizationHRN'
        type: array
    departureTimeWithAny:
      allowReserved: true
      description: |
        Specifies the time of departure as defined by either `date-time` or `full-date` `T`
        `partial-time` in `RFC 3339`, section 5.6 (for example, `2019-06-24T01:23:45`).

        The requested time is converted to local time at origin. When the optional timezone offset
        is not specified, time is assumed to be local. The special value `any` can be used to
        indicate that time should not be taken into account during routing. If neither
        `departureTime` or `arrivalTime` are specified, current time at departure place will be
        used. All time values in the response are returned in the timezone of each location.
      in: query
      name: departureTime
      required: false
      schema:
        $ref: '#/components/schemas/TimeWithAny'
    destination:
      allowReserved: true
      description: |
        A location defining the destination of the trip.

        ## Format

        Format: `Place[WaypointOptions]`

        * Place: `{lat},{lng}[PlaceOptions]`
        * PlaceOptions: `;option1=value1;option2=value2...`
        * WaypointOptions: `!option1=value1!option2=value2...`

        A waypoint consists of:

        * Exactly one place
        * Optional settings for the place
        * Optional settings for the waypoint itself

        Supported place options:

        * `course`: int, degrees clock-wise from north. Indicating desired direction at the place.
          E.g. `90` indicating `east`. Often combined with `radius` and/or `minCourseDistance`
        * `sideOfStreetHint`: `{lat},{lng}`. Indicating the side of the street that should be
          used. E.g. if the location is to the left of the street, the router will prefer using
          that side in case the street has dividers. E.g.
          `52.511496,13.304140;sideOfStreetHint=52.512149,13.304076` indicates that the `north`
          side of the street should be preferred. This option is required, if `matchSideOfStreet`
          is set to `always`.
        * `matchSideOfStreet`: enum `[always, onlyIfDivided]`. Specifies how the location set by
          `sideOfStreetHint` should be handled. Requires `sideOfStreetHint` to be specified as
          well.
          + `always` : Always prefer the given side of street.
          + `onlyIfDivided`: Only prefer using side of street set by `sideOfStreetHint` in case
            the street has dividers. This is the default behavior.
        * `nameHint`: string. Causes the router to look for the place with the most similar name.
          This can e.g. include things like: `North` being used to differentiate between
          interstates `I66 North` and `I66 South`, `Downtown Avenue` being used to correctly
          select a residental street.
        * `radius`: int, meters. Asks the router to consider all places within the given radius as
          potential candidates for route calculation. This can be either because it is not
          important which place is used, or because it is unknown. Radius more than 200meter are
          not supported.
        * `minCourseDistance`: int, meters. Instructs the routing service to try to find a route that avoids actions for the indicated distance.
          For example, if the origin is determined by a moving vehicle, the user might not have time to react to early actions.
        * `customizationIndex`: int. Specifies the zero-based index into the list of customizations
          specified in the `customizations` parameter. The customization at that index must be an
          Extension Map.
          Providing a `customizationIndex` indicates the this waypoint is located within that
          Extension Map.
          **Alpha**: This customization API parameter is in development. It may not be stable and is subject to change.
        * `segmentIdHint`: string. Causes the router to try and match to the specified segment.
          Waypoint coordinates need to be on the segment, otherwise waypoint will be matched ignoring the segment hint
          This parameter can be used when the waypoint is too close to more than one segment to force matching to a specific one.
        * `onRoadThreshold`: int, meters. allows specifying a distance within which
          the waypoint could be considered as being on a highway/bridge/tunnel/sliproad.
          Within this threshold, the attributes of the segments do not impact the matching.
          Outside the threshold only segments which aren't one of highway/bridge/tunnel/sliproad can be matched.

        Supported waypoint options:

        * `stopDuration`: desired duration for the stop, in seconds. The section arriving at this
          via waypoint will have a `wait` post action reflecting the stopping time. The
          consecutive section will start at the arrival time of the former section + stop
          duration.
        * `passThrough`: option is not supported for 'destination'.

        Notes:

        * Non-structural reserved characters in options' values need to be properly percent-encoded.
          Please refer to the developers' guide for more details.
      examples:
        coordinate:
          summary: A simple WGS84 coordinate
          value: '51.611571,11.351608'
        course:
          summary: Setting course/radius/minCourseDistance an uncertain GPS coordinate of a moving vehicle
          value: '51.611571,11.351608;course=170;radius=20;minCourseDistance=500'
        duration:
          summary: Addition a stopDuration for an intermediate stop
          value: '51.611571,11.351608!stopDuration=600'
        name:
          summary: Setting nameHint to avoid matching to the wrong location
          value: '52.510319,13.285616;nameHint=Kaiserdamm'
        side:
          summary: Populating sideOfStreetHint in addition to location to avoid ending on the wrong side of the street
          value: '52.531052,13.384872;sideOfStreetHint=52.530941,13.384939;matchSideOfStreet=always'
      in: query
      name: destination
      required: true
      schema:
        $ref: '#/components/schemas/Waypoint'
    ev:
      allowReserved: true
      in: query
      name: ev
      required: false
      schema:
        $ref: '#/components/schemas/EV'
      style: deepObject
    evConsumption:
      allowReserved: true
      in: query
      name: ev
      required: false
      schema:
        $ref: '#/components/schemas/EVConsumption'
      style: deepObject
    exclude:
      description: |
        Defines properties which will be strictly excluded from route calculation.

        Note - Exclude countries guarantees exclusion, but doesn't guarantee
        finding a route.
      examples:
        countries:
          summary: Exclude both the country of Switzerland and the country of Austria from the route calculation
          value:
            countries: 'CHE,AUT'
        country:
          summary: Exclude the country of Switzerland from the route calculation
          value:
            countries: CHE
      in: query
      name: exclude
      required: false
      schema:
        $ref: '#/components/schemas/Exclude'
      style: deepObject
    lang:
      description: |
        Specifies the list of preferred languages of the response.
        The first supported language from the list will be used for for the response.
        The value should comply with the [IETF BCP 47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt).
        A list of supported languages for the routing service can be found in the dev guide https://developer.here.com/documentation/routing-api/dev_guide/topics/languages.html.

        Note: If the first language in the list is not supported, an info notification will be generated with code `mainLanguageNotFound`.
      example: 'zh-tw,en-gb,en-us'
      explode: false
      in: query
      name: lang
      schema:
        default:
          - en-US
        items:
          type: string
        type: array
      style: form
    maxSpeedOnSegment:
      allowReserved: true
      description: |
        Specify new base speed for segment by value. Affects route selection and the ETA. Cannot increase base speed on segment.
      examples:
        speed:
          summary: Setting new base speed on segment
          value:
            speed: 'here:cm:segment:76771992#*;speed=42'
      in: query
      name: maxSpeedOnSegment
      required: false
      schema:
        $ref: '#/components/schemas/MaxSpeedOnSegment'
      style: form
    origin:
      allowReserved: true
      description: |
        A location defining the origin of the trip.

        ## Format

        Format: `Place[WaypointOptions]`

        * Place: `{lat},{lng}[PlaceOptions]`
        * PlaceOptions: `;option1=value1;option2=value2...`
        * WaypointOptions: `!option1=value1!option2=value2...`

        A waypoint consists of:

        * Exactly one place
        * Optional settings for the place
        * Optional settings for the waypoint itself

        Supported place options:

        * `course`: int, degrees clock-wise from north. Indicating desired direction at the place.
          E.g. `90` indicating `east`. Often combined with `radius` and/or `minCourseDistance`
        * `sideOfStreetHint`: `{lat},{lng}`. Indicating the side of the street that should be
          used. E.g. if the location is to the left of the street, the router will prefer using
          that side in case the street has dividers. E.g.
          `52.511496,13.304140;sideOfStreetHint=52.512149,13.304076` indicates that the `north`
          side of the street should be preferred. This option is required, if `matchSideOfStreet`
          is set to `always`.
        * `matchSideOfStreet`: enum `[always, onlyIfDivided]`. Specifies how the location set by
          `sideOfStreetHint` should be handled. Requires `sideOfStreetHint` to be specified as
          well.
          + `always` : Always prefer the given side of street.
          + `onlyIfDivided`: Only prefer using side of street set by `sideOfStreetHint` in case
            the street has dividers. This is the default behavior.
        * `nameHint`: string. Causes the router to look for the place with the most similar name.
          This can e.g. include things like: `North` being used to differentiate between
          interstates `I66 North` and `I66 South`, `Downtown Avenue` being used to correctly
          select a residental street.
        * `radius`: int, meters. Asks the router to consider all places within the given radius as
          potential candidates for route calculation. This can be either because it is not
          important which place is used, or because it is unknown. Radius more than 200meter are
          not supported.
        * `minCourseDistance`: int, meters. Instructs the routing service to try to find a route that avoids actions for the indicated distance.
          For example, if the origin is determined by a moving vehicle, the user might not have time to react to early actions.
        * `customizationIndex`: int. Specifies the zero-based index into the list of customizations
          specified in the `customizations` parameter. The customization at that index must be an
          Extension Map.
          Providing a `customizationIndex` indicates the this waypoint is located within that
          Extension Map.
          **Alpha**: This customization API parameter is in development. It may not be stable and is subject to change.
        * `segmentIdHint`: string. Causes the router to try and match to the specified segment.
          Waypoint coordinates need to be on the segment, otherwise waypoint will be matched ignoring the segment hint
          This parameter can be used when the waypoint is too close to more than one segment to force matching to a specific one.
        * `onRoadThreshold`: int, meters. allows specifying a distance within which
          the waypoint could be considered as being on a highway/bridge/tunnel/sliproad.
          Within this threshold, the attributes of the segments do not impact the matching.
          Outside the threshold only segments which aren't one of highway/bridge/tunnel/sliproad can be matched.

        Notes:

        * `stopDuration` option is not supported for `origin`, contrary to `destination` and
          `via` waypoints.
        * `passThrough`: option is not supported for 'origin'.
        * Non-structural reserved characters in options' values need to be properly percent-encoded.
          Please refer to the developers' guide for more details.
      examples:
        coordinate:
          summary: A simple WGS84 coordinate
          value: '51.611571,11.351608'
        course:
          summary: Setting course/radius/minCourseDistance an uncertain GPS coordinate of a moving vehicle
          value: '51.611571,11.351608;course=170;radius=20;minCourseDistance=500'
        name:
          summary: Setting nameHint to avoid matching to the wrong location
          value: '52.510319,13.285616;nameHint=Kaiserdamm'
        side:
          summary: Populating sideOfStreetHint in addition to location to avoid ending on the wrong side of the street
          value: '52.531052,13.384872;sideOfStreetHint=52.530941,13.384939;matchSideOfStreet=always'
      in: query
      name: origin
      required: true
      schema:
        $ref: '#/components/schemas/Waypoint'
    pedestrianSpeed:
      description: |
        Walking speed in meters per second. Influences the duration of walking segments along the route.
      in: query
      name: 'pedestrian[speed]'
      schema:
        $ref: '#/components/schemas/PedestrianSpeed'
    rerouting:
      in: query
      name: rerouting
      required: false
      schema:
        $ref: '#/components/schemas/Rerouting'
      style: deepObject
    return:
      description: |
        Defines which attributes are included in the response as part of data representation of a
        `Route` or `Section`.

        * `polyline` - Polyline for the route in [Flexible Polyline](https://github.com/heremaps/flexible-polyline) Encoding.
         Either a 2D polyline (without `elevation` specified), or a 3D polyline with the 3rd dimension type `Elevation` (with `elevation` specified).
        * `actions` - Actions (such as maneuvers or tasks) that must be taken to complete the section.
        * `instructions` - Include instructions in returned actions. Instructions are localized to the requested language.
        * `summary` - Include summary for the section.
        * `travelSummary` - Include summary for the travel portion of the section.
        * `turnByTurnActions` - Include all information necessary to support turn by turn guidance to complete the section.
        * `mlDuration` - Use a region-specific machine learning model to calculate route duration.
          **Disclaimer: This parameter is currently in beta release, and is therefore subject to breaking changes.**
        * `typicalDuration` - Include route duration under typical traffic conditions.
        * `elevation` - Include elevation information in coordinate and geometry types. See e.g. `polyline` or `location`.
        * `routeHandle` - Encode calculated route and return a handle which can be used with
        `routes/{routeHandle}` to decode the route at a later point in time.
        * `passthrough` - Include information on passthrough via waypoints in the section.
        * `incidents` - Include a list of all incidents applicable to each section.
           Incidents are localized to the requested language.
           This requires `incidents` to be specified as part of the `return` parameter.
        * `routingZones` - Include information about routing zones each section goes through.
        * `truckRoadTypes` - Include information about road types each section goes through.
        * `tolls` - Include information about the tolls to be paid, per section, according to the `tolls` parameter and other toll-influencing
          parameters such as vehicle dimensions in the query,
          e.g `transportMode`, `vehicle[hovOccupancy]`, truck[height]. The full list of toll-related attributes is available in the
          [Tolls](https://developer.here.com/documentation/routing-api/dev_guide/topics/use-cases/tolls.html) page of the Developer Guide
          If tolls cannot be calculated for a section, it will contain the `tollsDataUnavailable` notice code.
          **Note**: some toll-related options such as cars with trailers, or vehicle fuel related tolls are planned but not implemented at the moment.
          Therefore the request will return the most "typical" toll cost.

        The following restrictions apply when specifying the `return` parameter:

        * If `actions` is requested, then `polyline` must also be requested as well.
        * If `instructions` is requested, then `actions` must also be requested as well.
        * If `turnByTurnActions` is requested, then `polyline` must also be requested as well.
        * If at least one attribute is requested within the `spans` parameter, then `polyline` must be request as well
      explode: false
      in: query
      name: return
      schema:
        items:
          $ref: '#/components/schemas/Return'
        type: array
        uniqueItems: true
      style: form
    routeHandle:
      description: |
        Route handle returned from a previous route calculation.

        See `return` parameter of `/routes` endpoint for more information.
      in: path
      name: routeHandle
      required: true
      schema:
        type: string
    routeHandleOrigin:
      allowReserved: true
      description: |
        A location defining the origin of the trip. The origin has to be located along the
        previously calculated route.

        ## Format

        Format: `Place[WaypointOptions]`

        * Place: `{lat},{lng}[PlaceOptions]`
        * PlaceOptions: `;option1=value1;option2=value2...`
        * WaypointOptions: `!option1=value1!option2=value2...`

        A waypoint consists of:

        * Exactly one place
        * Optional settings for the place
        * Optional settings for the waypoint itself

        Supported place options:

        * `course`: int, degrees clock-wise from north. Indicating desired direction at the place.
          E.g. `90` indicating `east`. Often combined with `radius` and/or `minCourseDistance`
        * `sideOfStreetHint`: `{lat},{lng}`. Indicating the side of the street that should be
          used. E.g. if the location is to the left of the street, the router will prefer using
          that side in case the street has dividers. E.g.
          `52.511496,13.304140;sideOfStreetHint=52.512149,13.304076` indicates that the `north`
          side of the street should be preferred. This option is required, if `matchSideOfStreet`
          is set to `always`.
        * `matchSideOfStreet`: enum `[always, onlyIfDivided]`. Specifies how the location set by
          `sideOfStreetHint` should be handled. Requires `sideOfStreetHint` to be specified as
          well.
          + `always` : Always prefer the given side of street.
          + `onlyIfDivided`: Only prefer using side of street set by `sideOfStreetHint` in case
            the street has dividers. This is the default behavior.
        * `nameHint`: string. Causes the router to look for the place with the most similar name.
          This can e.g. include things like: `North` being used to differentiate between
          interstates `I66 North` and `I66 South`, `Downtown Avenue` being used to correctly
          select a residental street.
        * `radius`: int, meters. Asks the router to consider all places within the given radius as
          potential candidates for route calculation. This can be either because it is not
          important which place is used, or because it is unknown. Radius more than 200meter are
          not supported.

        Notes:

        * `stopDuration` option is not supported for `origin`, contrary to `destination` and
          `via` waypoints.
        * `passThrough`: option is not supported for 'origin'.
        * Non-structural reserved characters in options' values need to be properly percent-encoded.
          Please refer to the developers' guide for more details.
        * `minCourseDistance`: While this parameter can be provided for compatibility reasons,
          it will not affect the result of a getRoutesByHandle request.
      examples:
        coordinate:
          summary: A simple WGS84 coordinate
          value: '51.611571,11.351608'
        course:
          summary: Setting course/radius an uncertain GPS coordinate of a moving vehicle
          value: '51.611571,11.351608;course=170;radius=20'
        name:
          summary: Setting nameHint to avoid matching to the wrong location
          value: '52.510319,13.285616;nameHint=Kaiserdamm'
        side:
          summary: Populating sideOfStreetHint in addition to location to avoid ending on the wrong side of the street
          value: '52.531052,13.384872;sideOfStreetHint=52.530941,13.384939;matchSideOfStreet=always'
      in: query
      name: origin
      required: false
      schema:
        $ref: '#/components/schemas/Waypoint'
    routingMode:
      description: |
        Specifies which optimization is applied during route calculation.

        * `fast`: Route calculation from start to destination optimized by travel time. In many
          cases, the route returned by the `fast` mode may not be the route with the fastest
          possible travel time. For example, the routing service may favor a route that remains on
          a highway, even if a faster travel time can be achieved by taking a detour or shortcut
          through an inconvenient side road.
        * `short`: Route calculation from start to destination disregarding any speed information.
          In this mode, the distance of the route is minimized, while keeping the route sensible.
          This includes, for example, penalizing turns. Because of that, the resulting route will
          not necessarily be the one with minimal distance.

        Notes:
        * The following Transport modes only support `fast` routingMode
          - `bicycle`
          - `bus`
          - `pedestrian`
          - `privateBus`
          - `scooter`
          - `taxi`
      in: query
      name: routingMode
      required: false
      schema:
        $ref: '#/components/schemas/RoutingMode'
    scooter:
      description: |
        Scooter specific parameters.
          * `allowHighway`: Specifies whether scooter is allowed on highway or not. This parameter is optional.
            If not provided, then by default scooter is not allowed to use highway.
            There is a similar parameter avoid[features]=controlledAccessHighway to disallow highway usage.
            avoid[features] takes precedence so if this parameter is also used then scooters are not allowed
            to use highways even if `allowHighway` is used with value as true.
            Possible values:
              * `true`: scooter is allowed to use highway.
              * `false`: scooter is not allowed to use highway.
      explode: true
      in: query
      name: scooter
      required: false
      schema:
        $ref: '#/components/schemas/Scooter'
      style: deepObject
    spans:
      description: |
        Defines which map content attributes are included in the response spans. For example, `attributes,length` will enable the fields `attributes` and `length` in the route response.
        For more information about the `countryCode` field, see https://www.iso.org/obp/ui/#search.

        This parameter also requires that the `polyline` option is set within the `return` parameter.

        **NOTE:** Attribute speedLimit is deprecated, use maxSpeed instead. Attribute segmentId is deprecated, use segmentRef instead.
      explode: false
      in: query
      name: spans
      required: false
      schema:
        items:
          $ref: '#/components/schemas/Spans'
        type: array
        uniqueItems: true
      style: form
    taxi:
      description: |
        Taxi specific parameters.
          * `allowDriveThroughTaxiRoads`: Specifies if a vehicle is allowed to drive through
            taxi-only roads and lanes. Even if this option is set to false, the vehicle is still
            allowed on taxi-only roads at the start of the route and at the destination.

            **Disclaimer**: This parameter is currently provided as Beta with limited functionality.
      explode: true
      in: query
      name: taxi
      required: false
      schema:
        $ref: '#/components/schemas/Taxi'
      style: deepObject
    tolls:
      description: |
        Defines properties which control toll calculation and reporting in the response.
      in: query
      name: tolls
      required: false
      schema:
        $ref: '#/components/schemas/Tolls'
      style: deepObject
    traffic:
      description: Traffic specific parameters.
      explode: true
      in: query
      name: traffic
      required: false
      schema:
        $ref: '#/components/schemas/Traffic'
      style: deepObject
    transportMode:
      description: |
        Mode of transport to be used for the calculation of the route.

        Note:
        `bicycle`, `bus`, `privateBus`, and `taxi` modes are currently provided as Beta, with limited functionality.
        Please refer to the developers' guide for more details.
      in: query
      name: transportMode
      required: true
      schema:
        $ref: '#/components/schemas/RouterMode'
    truck:
      deprecated: true
      description: |
        Truck specific parameters. **Note** truck parameters are deprecated, use vehicle parameters
        instead. Truck parameters cannot be used together with the vehicle parameters.
          * `shippedHazardousGoods`:
            Comma-separated list of shipped hazardous goods in the vehicle.
            Possible values are:
            * `explosive`: Explosive material
            * `gas`: Gas
            * `flammable`: Flammable material
            * `combustible`: Combustible material
            * `organic`: Organic material
            * `poison`: Poison
            * `radioactive`: Radioactive material
            * `corrosive`: Corrosive material
            * `poisonousInhalation`: Materials that are poisonous upon inhalation
            * `harmfulToWater`: Materials that are harmful to water
            * `other`: Other types of hazardous materials
          * `grossWeight`: Vehicle weight including trailers and shipped goods, in kilograms.
          * `weightPerAxle`: Vehicle weight per axle, in kilograms.
          * `weightPerAxleGroup`: Weight of different axle groups like single and tandem axles, in kilograms.
          * `height`: Vehicle height, in centimeters.
          * `width`: Vehicle width, in centimeters.
          * `length`: Vehicle length, in centimeters.
          * `tunnelCategory`: Specifies the tunnel category used to restrict transport of specific goods.
            Possible values:
              * `B`
              * `C`
              * `D`
              * `E`
          * `axleCount`: Defines total number of axles in the vehicle.
          * `type`: Specifies the type of truck
              * `straight`: a truck on a single frame with a permanently attached cargo area
              * `tractor`: a towing vehicle that can pull one or more semi-trailers (aka semi-truck)
          * `trailerCount`: Number of trailers attached to the vehicle.
      explode: true
      in: query
      name: truck
      required: false
      schema:
        $ref: '#/components/schemas/Truck'
      style: deepObject
    units:
      description: |
        Units of measurement used in guidance instructions. The default is `metric`.
      in: query
      name: units
      required: false
      schema:
        $ref: '#/components/schemas/Units'
    vehicle:
      description: |
        Vehicle specific parameters.
          * `shippedHazardousGoods`:
            Comma-separated list of shipped hazardous goods in the vehicle.
            Possible values are:
            * `explosive`: Explosive material
            * `gas`: Gas
            * `flammable`: Flammable material
            * `combustible`: Combustible material
            * `organic`: Organic material
            * `poison`: Poison
            * `radioactive`: Radioactive material
            * `corrosive`: Corrosive material
            * `poisonousInhalation`: Materials that are poisonous upon inhalation
            * `harmfulToWater`: Materials that are harmful to water
            * `other`: Other types of hazardous materials
          * `grossWeight`: Vehicle weight including trailers and shipped goods, in kilograms.
          * `weightPerAxle`: Vehicle weight per axle, in kilograms.
          * `weightPerAxleGroup`: Weight of different axle groups like single and tandem axles, in kilograms.
          * `height`: Vehicle height, in centimeters.
          * `width`: Vehicle width, in centimeters.
          * `length`: Vehicle length, in centimeters.
          * `tunnelCategory`: Specifies the tunnel category used to restrict transport of specific goods.
            Possible values:
              * `B`
              * `C`
              * `D`
              * `E`
          * `axleCount`: Defines total number of axles in the vehicle.
          * `type`: Specifies the type of vehicle
              * `straightTruck`: a truck on a single frame with a permanently attached cargo area. Only
              applicable when the truck routing mode is used.
              * `tractor`: a towing vehicle that can pull one or more semi-trailers (aka semi-truck).
              Only applicable when the truck routing mode is used.
          * `trailerCount`: Number of trailers attached to the vehicle.
      explode: true
      in: query
      name: vehicle
      required: false
      schema:
        $ref: '#/components/schemas/Vehicle'
      style: deepObject
    via:
      allowReserved: true
      description: |
        A location defining a via waypoint.

        A via waypoint is a location between origin and destination. The route will do a stop
        at the via waypoint.

        Multiple waypoints can also be specified using multiple via parameters like
        `via=...&via=...`, in which case the route will traverse these waypoints sequentially in
        the order specified in the request.

        ## Format

        Format: `Place[WaypointOptions]`

        * Place: `{lat},{lng}[PlaceOptions]`
        * PlaceOptions: `;option1=value1;option2=value2...`
        * WaypointOptions: `!option1=value1!option2=value2...`

        A waypoint consists of:

        * Exactly one place
        * Optional settings for the place
        * Optional settings for the waypoint itself

        Supported place options:

        * `course`: int, degrees clock-wise from north. Indicating desired direction at the place.
          E.g. `90` indicating `east`. Often combined with `radius` and/or `minCourseDistance`
        * `sideOfStreetHint`: `{lat},{lng}`. Indicating the side of the street that should be
          used. E.g. if the location is to the left of the street, the router will prefer using
          that side in case the street has dividers. E.g.
          `52.511496,13.304140;sideOfStreetHint=52.512149,13.304076` indicates that the `north`
          side of the street should be preferred. This option is required, if `matchSideOfStreet`
          is set to `always`.
        * `matchSideOfStreet`: enum `[always, onlyIfDivided]`. Specifies how the location set by
          `sideOfStreetHint` should be handled. Requires `sideOfStreetHint` to be specified as
          well.
          + `always` : Always prefer the given side of street.
          + `onlyIfDivided`: Only prefer using side of street set by `sideOfStreetHint` in case
            the street has dividers. This is the default behavior.
        * `nameHint`: string. Causes the router to look for the place with the most similar name.
          This can e.g. include things like: `North` being used to differentiate between
          interstates `I66 North` and `I66 South`, `Downtown Avenue` being used to correctly
          select a residental street.
        * `radius`: int, meters. Asks the router to consider all places within the given radius as
          potential candidates for route calculation. This can be either because it is not
          important which place is used, or because it is unknown. Radius more than 200meter are
          not supported.
        * `minCourseDistance`: int, meters. Instructs the routing service to try to find a route that avoids actions for the indicated distance.
          For example, if the origin is determined by a moving vehicle, the user might not have time to react to early actions.
        * `customizationIndex`: int. Specifies the zero-based index into the list of customizations
          specified in the `customizations` parameter. The customization at that index must be an
          Extension Map.
          Providing a `customizationIndex` indicates the this waypoint is located within that
          Extension Map.
          **Alpha**: This customization API parameter is in development. It may not be stable and is subject to change.
        * `segmentIdHint`: string. Causes the router to try and match to the specified segment.
          Waypoint coordinates need to be on the segment, otherwise waypoint will be matched ignoring the segment hint
          This parameter can be used when the waypoint is too close to more than one segment to force matching to a specific one.
        * `onRoadThreshold`: int, meters. allows specifying a distance within which
          the waypoint could be considered as being on a highway/bridge/tunnel/sliproad.
          Within this threshold, the attributes of the segments do not impact the matching.
          Outside the threshold only segments which aren't one of highway/bridge/tunnel/sliproad can be matched.

        Supported waypoint options:
        * `stopDuration`: desired duration for the stop, in seconds.
        * `passThrough`: boolean. Asks the router to avoid the following during route calculation:
          + Introducing a stop at the waypoint.
          + Splitting the route into sections.
          + Changing the direction of travel.

          Following scenarios are not supported for `passThrough` parameter:
          + Setting both `stopDuration` to a value greater than 0 and `passThrough=true`.
          + Setting `passThrough=true` for `origin` or `destination` of a route.
          The default value is `false`.

        Notes:

        * Non-structural reserved characters in options' values need to be properly percent-encoded.
          Please refer to the developers' guide for more details.
      examples:
        coordinate:
          summary: A simple WGS84 coordinate
          value: '51.611571,11.351608'
        course:
          summary: Setting course/radius/minCourseDistance an uncertain GPS coordinate of a moving vehicle
          value: '51.611571,11.351608;course=170;radius=20;minCourseDistance=500'
        duration:
          summary: Addition a stopDuration for an intermediate stop
          value: '51.611571,11.351608!stopDuration=600'
        name:
          summary: Setting nameHint to avoid matching to the wrong location
          value: '52.510319,13.285616;nameHint=Kaiserdamm'
        pass-through:
          summary: Setting pass-through parameter to avoid possibly making a u-turn for a stop
          value: '51.611571,11.351608!passThrough=true'
        side:
          summary: Populating sideOfStreetHint in addition to location to avoid ending on the wrong side of the street
          value: '52.531052,13.384872;sideOfStreetHint=52.530941,13.384939;matchSideOfStreet=always'
      explode: true
      in: query
      name: via
      required: false
      schema:
        items:
          $ref: '#/components/schemas/Waypoint'
        type: array
      style: form
    xRequestId:
      description: User-provided token that can be used to trace a request or a group of requests sent to the service.
      in: header
      name: X-Request-ID
      schema:
        type: string
  responses:
    401ErrorResponseWithRequestID:
      content:
        application/json:
          examples:
            errorResponseExample:
              $ref: '#/components/examples/401errorResponseExample'
          schema:
            $ref: '#/components/schemas/AuthErrorResponseSchema'
      description: API response in case of unauthorized access.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
    500ErrorResponseWithRequestID:
      content:
        application/json:
          examples:
            errorResponseExample:
              $ref: '#/components/examples/500errorResponseExample'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: API response in case of internal server error.
      headers:
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
    502ErrorResponseWithRequestID:
      content:
        application/json:
          examples:
            errorResponseExample:
              $ref: '#/components/examples/502errorResponseExample'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: API response in case of bad gateway.
      headers:
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
    503ErrorResponseWithRequestID:
      content:
        application/json:
          examples:
            errorResponseExample:
              $ref: '#/components/examples/503errorResponseExample'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: API response in case of service unavailable.
      headers:
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
    504ErrorResponseWithRequestID:
      content:
        application/json:
          examples:
            errorResponseExample:
              $ref: '#/components/examples/504errorResponseExample'
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: API response in case of gateway timeout.
      headers:
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
    HealthResponseFailWithRequestID:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HealthResponseFailSchema'
        text/plain: {}
      description: API response in case of failure.
      headers:
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
    HealthResponseOkWithRequestID:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HealthResponseOKSchema'
      description: API response in case of success.
      headers:
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
    InternalServerErrorRoutesResponse:
      content:
        application/json:
          examples:
            errorResponseExample:
              $ref: '#/components/examples/500RoutingErrorResponseExample'
          schema:
            $ref: '#/components/schemas/RoutingErrorResponse'
      description: Internal server error
      headers:
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
    InvalidRoutesRequestResponse:
      content:
        application/json:
          examples:
            errorResponseExample:
              $ref: '#/components/examples/400RoutingErrorResponseExample'
          schema:
            $ref: '#/components/schemas/RoutingErrorResponse'
      description: |
        Failure to parse the request, caused by, for example, invalid parameter values such as
        `transportMode=spaceShuttle` or `alternatives=999`.

        Note that route calculation errors aren't considered failures. Cf. `RouterRouteResponse`
        for details on route calculation errors.
      headers:
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
    RoutesResponseOk:
      content:
        application/json:
          examples:
            routeResponseExample:
              $ref: '#/components/examples/routeResponseExample'
          schema:
            $ref: '#/components/schemas/RouterRouteResponse'
      description: Routes API response in case of success
      headers:
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
    Routing403ErrorResponse:
      content:
        application/json:
          examples:
            errorResponseExample:
              $ref: '#/components/examples/403RoutingErrorResponseExample'
          schema:
            $ref: '#/components/schemas/Routing403ErrorResponseSchema'
      description: |
        Not allowed, such as trying to calculate routes in Japan without having necessary
        permissions.
      headers:
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
    VersionResponseOkWithRequestID:
      content:
        application/json:
          examples:
            versionResponseOkExample:
              $ref: '#/components/examples/VersionResponseOkExample'
          schema:
            $ref: '#/components/schemas/VersionResponse'
      description: API response in case of success.
      headers:
        X-Correlation-Id:
          $ref: '#/components/headers/X-Correlation-Id'
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
  schemas:
    AccessAttributes:
      description: |
        Extensible enum: `open` `noThrough` `tollRoad` `...`  
        `AccessAttributes` is applied to a span of a route section and describes access flags of a street.

        * `open`: A part of the route that can be traversed.
        * `noThrough`: A part of the route that can only be traversed if origin, destination or any via waypoint is located there.
        * `tollRoad`: Access to this part of the route is restricted with a fee (or toll).

        As it is possible that new access attributes are supported in the future, unknown access attributes should be ignored.
      type: string
      x-extensible-enum:
        - open
        - noThrough
        - tollRoad
    AccessPointPlace:
      description: Access point to a venue/station
      properties:
        location:
          allOf:
            - $ref: '#/components/schemas/Location'
          description: |
            The position of this location

            This position was used in route calculation. It may be different to the original position provided in the request.
        name:
          description: Location name
          type: string
        originalLocation:
          allOf:
            - $ref: '#/components/schemas/Location'
          description: 'If present, the original position of this location provided in the request.'
        type:
          description: |
            Place type. Each place type can have extra attributes.

            **NOTE:** The list of possible place types could be extended in the future.
            The client application is expected to handle such a case gracefully.
          type: string
        waypoint:
          description: 'If present, this place corresponds to the waypoint in the request with the same index.'
          type: integer
        wheelchairAccessible:
          allOf:
            - $ref: '#/components/schemas/WheelchairAccessibility'
          description: |
            Information about accessibility for people with a disability and who use a wheelchair.

            * `unknown` - Accessibility information is not available.
            * `yes` - Access point is wheelchair accessible.
            * `limited` - Accessibility is limited or assistance is required.
            * `no` - No accessible path from the access point to platforms.
      required:
        - type
        - location
    Agency:
      description: Contains information about a particular agency.
      properties:
        id:
          description: Unique code of the agency. Specifies if the same agency is used on different sections of the same route.
          type: string
        name:
          description: Human readable name of the owner of the transport service.
          type: string
        website:
          allOf:
            - $ref: '#/components/schemas/Uri'
          description: Link to the agency's website.
      required:
        - id
        - name
    ArriveAction:
      allOf:
        - $ref: '#/components/schemas/OffsetAction'
    Attribution:
      description: The URL address to an external resource.
      properties:
        href:
          $ref: '#/components/schemas/Uri'
        hrefText:
          description: |
            The interactive (or clickable) portion of the text. If not present (default), the entire content of the text attribute will be considered.
          type: string
        id:
          description: Unique identifier for the web link. It is used to deduplicate links defined in multiple sections.
          type: string
        text:
          description: Text describing the url address (e.g. The example website).
          type: string
        type:
          $ref: '#/components/schemas/AttributionLinkType'
      required:
        - id
        - text
    AttributionLinkType:
      description: |
        Attribution link type.

        * `disclaimer` - Page with further legal information from the agency.
        * `tariff` - Page with information on the tariff.
      enum:
        - disclaimer
        - tariff
      required:
        - type
      type: string
    AuthErrorResponseSchema:
      properties:
        error:
          description: Human-readable error
          type: string
        error_description:
          description: Human-readable error description
          type: string
    Avoid:
      properties:
        areas:
          description: |
            A pipe separated list of user defined areas that routes will avoid to go through.
            The list is limited by 250 items.

            Format: `{shape1}|{shape2}|{shape3}...`

            Supported shape format:
            * Bounding box - A rectangular area on earth defined by a comma separated list of two latitude and two longitude values.
              - Format: `bbox:{west},{south},{east},{north}`
                + `{west}`  - Longitude value of the westernmost point of the area.
                + `{south}` - Latitude value of the southernmost point of the area.
                + `{east}`  - Longitude value of the easternmost point of the area.
                + `{north}` - Latitude value of the northernmost point of the area.
              - Example: `bbox:13.082,52.416,13.628,52.626` - Bounding box of Berlin
            * Polygon - A polygon on earth which defines area to avoid.
              Possible formats:
              1) As list of geopoints.
                - Format: `polygon:{lat},{lon};{lat},{lon};{lat},{lon}...`
                  + `{lat}` - Latitude
                  + `{lon}` - Longitude
                - Example: `polygon:52.416,13.082;52.626,13.628;52.916,13.482` - Polygon in Berlin
              2) As [Flexible Polyline](https://github.com/heremaps/flexible-polyline) Encoding.
                - Support only 2D polyline (without `elevation` specified).
                - Format: `polygon:{encoded_polyline}`
                  + `{encoded_polyline}` - encoded [Flexible Polyline](https://github.com/heremaps/flexible-polyline)
                - Example: `polygon:BF05xgKuy2xCx9B7vUl0OhnR54EqSzpEl-HxjD3pBiGnyGi2CvwFsgD3nD4vB6e`
              Notes:
              * Maximal count of polygons is 20. Count of bounding boxes + polygons <= 250
              * Minimal count of coordinates in one polygon is 3. If less - corresponding error will be returned.
              * Maximal count of coordinates in one polygon is 16. If more - corresponding error will be returned.
              * The polygon is closed automatically, there is no need to duplicate the first point as the last one.
              * Self-intersecting polygons are not supported. If they are present in the request, the corresponding error will be returned.
          type: string
        features:
          description: |
            A comma separated list of features that routes will avoid.

            * `seasonalClosure`
            * `tollRoad`
            * `controlledAccessHighway`
            * `ferry`
            * `carShuttleTrain`
            * `tunnel`
            * `dirtRoad`
            * `difficultTurns`: This option avoids difficult turns, sharp turns and U-turns on highways and motorways. It is only supported for the `truck` transport mode.
            * `uTurns`: This option avoids U-turns on highways and motorways. It is not supported for pedestrian, bicycle and scooter transport modes.
          type: string
        segments:
          description: |
            A comma separated list of segment identifiers that routes will avoid going through.

            Each entry has the following structure:
            `{segmentId}(#{direction})?`

            The individual parts are:
            * segmentId: The identifier of the referenced topology segment inside the catalog, example: `here:cm:segment:207551710`
            * direction (optional): Either '*' for bidirectional (default), '+' for positive direction, or '-' for negative direction

            Example of a parameter value excluding two segments:
            `here:cm:segment:207551710#+,here:cm:segment:76771992#*`

            **Note**: Maximum amount of penalized segments in one request should not be grater than 250.
                      "Penalized segments" refers to segments that have a restriction on maximum baseSpeed with `maxSpeedOnSegment`
                      or avoided with `avoid[segments]`
          type: string
        tollTransponders:
          description: |
            Indicates that routes will avoid all toll transponders.

            Example: `avoid[tollTransponders]=all`
          type: string
        truckRoadTypes:
          description: |
            A comma-separated list of truck road type identifiers to be avoided.

            A truck road type is an identifier associated with roads that have additional regulations applied by local administration for traversal by heavy vehicles like trucks.
            For example, the BK Bearing Class regulations in Sweden, and ET categories in Mexico.
            Identifiers for supported truck road types are specified at HERE Map Content
            [TruckRoadType](https://developer.here.com/documentation/here-map-content/dev_guide/topics_schema/truckroadtypeattribute.truckroadtype.html).

            Example: `avoid[truckRoadTypes]=BK1,BK2,BK3,BK4`
          example: 'BK1,BK2,BK3,BK4'
          type: string
        zoneCategories:
          description: |
            Specifies a list of categories of zones which routes will avoid going through.

            Format: `Categories[ZoneCategoryOptions]`

            * Categories: `{cat1},{cat2}...`
              A comma separated list of zone categories.
            * ZoneCategoriesOptions (optional): `;option1=value1;options2=value2...`
              A list of options for zone categories in `KEY=VALUE` form.

            Supported zone category options:
              * exceptZoneIds: A comma-separated list of zone identifiers, which will not be taken into account for evaluation of zone categories to avoid.

            Supported zone categories:
              * `vignette`
              * `congestionPricing`
              * `environmental`

            Example of zone categories avoidance:
            `avoid[zoneCategories]=environmental,vignette`

            Example of zone categories avoidance with exceptions:
            `avoid[zoneCategories]=environmental,vignette;exceptZoneIds=here:cm:envzone:3`
          type: string
        zoneIdentifiers:
          description: |
            A comma separated list containing identifiers of zones that routes will avoid going through.

            Example of an identifier referencing an environmental zone:
            `here:cm:envzone:2`
          type: string
      type: object
    AvoidPost:
      description: |
        Avoid routes that violate certain features of road network or that go through
        user-specified geographical bounding boxes.

        For the general description of the functionality please refer to the `avoid` parameter of the
        query string.

        Passing parameters in the POST body is suggested when the length of the parameters exceeds the
        limitation of the GET request.
      properties:
        segments:
          description: |
            An array of segment identifiers that routes will avoid going through.

            Each entry has the following structure:
            `{segmentId}(#{direction})?`

            The individual parts are:
            * segmentId: The identifier of the referenced topology segment inside the catalog, example: `here:cm:segment:207551710`
            * direction (optional): Either '*' for bidirectional (default), '+' for positive direction, or '-' for negative direction

            Example of a parameter value excluding two segments:
            `["here:cm:segment:207551710#+", "here:cm:segment:76771992#*"]`

            **Note**: Maximum amount of penalized segments in one request should not be grater than 250.
                      "Penalized segments" refers to segments that have a restriction on maximum baseSpeed with `maxSpeedOnSegment`
                      or avoided with `avoid[segments]`
          items:
            type: string
          type: array
      type: object
    BaseAction:
      description: An action to be performed between sections or during a section.
      properties:
        action:
          description: |
            The type of the action.

            **NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.
          type: string
        duration:
          allOf:
            - $ref: '#/components/schemas/Duration'
          description: 'Estimated duration of this action (in seconds). Actions last until the next action, or the end of the route in case of the last one.'
        instruction:
          description: Description of the action (e.g. Turn left onto Minna St.).
          type: string
      required:
        - action
        - duration
    BaseNoticeDetail:
      properties:
        cause:
          description: Cause of the notice
          type: string
        title:
          description: Detail title
          type: string
        type:
          description: |
            Detail type. Each type of detail might contain extra attributes.

            **NOTE:** The list of possible detail types may be extended in the future.
            The client application is expected to handle such a case gracefully.
          type: string
      required:
        - type
    BasePlace:
      properties:
        location:
          allOf:
            - $ref: '#/components/schemas/Location'
          description: |
            The position of this location

            This position was used in route calculation. It may be different to the original position provided in the request.
        name:
          description: Location name
          type: string
        originalLocation:
          allOf:
            - $ref: '#/components/schemas/Location'
          description: 'If present, the original position of this location provided in the request.'
        type:
          description: |
            Place type. Each place type can have extra attributes.

            **NOTE:** The list of possible place types could be extended in the future.
            The client application is expected to handle such a case gracefully.
          type: string
        waypoint:
          description: 'If present, this place corresponds to the waypoint in the request with the same index.'
          type: integer
      required:
        - type
        - location
    BaseSummary:
      description: Total value of key attributes for a route section.
      properties:
        duration:
          $ref: '#/components/schemas/Duration'
        length:
          $ref: '#/components/schemas/Distance'
      required:
        - duration
        - length
    BoardAction:
      allOf:
        - $ref: '#/components/schemas/BaseAction'
      description: An action to board a ferry.
    CalculateRoutesPostParameters:
      description: Parameters of the POST body for route calculation
      example:
        $ref: '#/components/examples/calculateRoutesPostParametersExample'
      properties:
        avoid:
          $ref: '#/components/schemas/AvoidPost'
        ev:
          $ref: '#/components/schemas/EVPost'
        maxSpeedOnSegment:
          $ref: '#/components/schemas/MaxSpeedOnSegmentPost'
      type: object
    ChargingAction:
      description: |
        An action to charge the vehicle.
      properties:
        action:
          description: |
            The type of the action.

            **NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.
          type: string
        arrivalCharge:
          description: |
            Estimated vehicle battery charge before this action (in kWh).
          type: number
        consumablePower:
          description: |
            Maximum charging power (in kW) available to the vehicle, based on the properties of the charging
            station and the vehicle.
          type: number
        duration:
          allOf:
            - $ref: '#/components/schemas/Duration'
          description: 'Estimated duration of this action (in seconds). Actions last until the next action, or the end of the route in case of the last one.'
        instruction:
          description: Description of the action (e.g. Turn left onto Minna St.).
          type: string
        targetCharge:
          description: |
            Level to which vehicle battery should be charged by this action (in kWh).
          type: number
      required:
        - action
        - duration
    ChargingConnectorAttributes:
      description: Details of the connector that is suggested to be used in the section's `postAction` for charging.
      properties:
        connectorType:
          allOf:
            - $ref: '#/components/schemas/ChargingConnectorType'
          description: Suggested connector for charging at this station
        current:
          description: Current of the suggested connector in Amperes.
          type: number
        power:
          description: Power supplied by the suggested connector in kW.
          type: number
        supplyType:
          allOf:
            - $ref: '#/components/schemas/ChargingSupplyType'
          description: |
            Supply type of the suggested connector.
        voltage:
          description: Voltage of the suggested connector in Volts.
          type: number
      required:
        - power
        - supplyType
        - connectorType
    ChargingConnectorType:
      description: |
        Extensible enum: `iec62196Type1Combo` `iec62196Type2Combo` `chademo` `tesla` `...`  
        Currently supported connector types are:
        * `iec62196Type1Combo`:  Type 1 Combo connector, commonly called "SAE J1772"
        * `iec62196Type2Combo`:  Type 2 Combo connector, commonly called "Mennekes"
        * `chademo`: CHAdeMO connector
        * `tesla`: Tesla connector
      type: string
      x-extensible-enum:
        - iec62196Type1Combo
        - iec62196Type2Combo
        - chademo
        - tesla
    ChargingSetupAction:
      allOf:
        - $ref: '#/components/schemas/BaseAction'
      description: |
        An action to prepare for vehicle charging. Represents the time spent setting up for charging (e.g., payment processing), independent
        of the time required to actually charge the vehicle.
    ChargingStationBrand:
      description: Information regarding the charging station brand
      properties:
        hrn:
          description: |
            Charging station brand unique ID.
            If specified in `ev[preferredBrands]` parameter
            then it would apply preference to adding stations of the given brand.

            **NOTE:** As of now it is generated as a brand name hash.
            It will be changed to HRN (HERE Resource Name) in the future.
          type: string
        name:
          description: Charging station brand name
          type: string
    ChargingStationPlace:
      description: A charging station
      properties:
        brand:
          $ref: '#/components/schemas/ChargingStationBrand'
        connectorAttributes:
          $ref: '#/components/schemas/ChargingConnectorAttributes'
        id:
          description: Identifier of this charging station
          type: string
        location:
          allOf:
            - $ref: '#/components/schemas/Location'
          description: |
            The position of this location

            This position was used in route calculation. It may be different to the original position provided in the request.
        name:
          description: Human readable name of this charging station
          type: string
        originalLocation:
          allOf:
            - $ref: '#/components/schemas/Location'
          description: 'If present, the original position of this location provided in the request.'
        type:
          description: |
            Place type. Each place type can have extra attributes.

            **NOTE:** The list of possible place types could be extended in the future.
            The client application is expected to handle such a case gracefully.
          type: string
        waypoint:
          description: 'If present, this place corresponds to the waypoint in the request with the same index.'
          type: integer
      required:
        - type
        - location
    ChargingSupplyType:
      description: |
        Extensible enum: `acSingle` `acThree` `dc` `...`  
        Currently possible values are:

        * `acSingle` : Single phase Alternating Current supply
        * `acThree`: Three phase Alternating Current supply
        * `dc`: Direct Current supply
      type: string
      x-extensible-enum:
        - acSingle
        - acThree
        - dc
    Color:
      example: '#FF0000'
      pattern: '#[0-9A-Fa-f]{6}'
      type: string
    ConsumptionSpeedTable:
      description: |
        Function curve specifying consumption rate at a given speed.

        The format of the string is a comma-separated list of numbers, as follows:

        ```
        <SPEED_0>,<CONSUMPTION_0>,<SPEED_1>,<CONSUMPTION_1>,...,<SPEED_N>,<CONSUMPTION_N>
        ```

        where speed values are strictly increasing, non-negative integers in units of (km/h), and
        consumption values are non-negative floating point values in units of (Wh/m).

        The function is linearly interpolated between data points. For speeds less than `SPEED_0`
        the value of the function is `CONSUMPTION_0`, and for speeds greater than `SPEED_N` the
        value of the function is `CONSUMPTION_N`.
      example: '0,0.2394,14,0.2394,36,0.2586,52,0.196,68,0.2074,83,0.238,95,0.2597,105,0.2597,115,0.2964,125,0.3367,135,0.3508'
      type: string
    ContinueAction:
      description: |
        An action to be performed at or during a specific portion of a section.

        * `depart`: departure maneuver, such as "Start at"
        * `arrive`: arrival maneuver, such as "Arrive at"
        * `continue`: continue maneuver, such as "Continue on"
      properties:
        action:
          description: |
            The type of the action.

            **NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.
          type: string
        currentRoad:
          allOf:
            - $ref: '#/components/schemas/RoadInfo'
          description: Attributes of the current road
        duration:
          allOf:
            - $ref: '#/components/schemas/Duration'
          description: 'Estimated duration of this action (in seconds). Actions last until the next action, or the end of the route in case of the last one.'
        exitSign:
          allOf:
            - $ref: '#/components/schemas/ExitInfo'
          description: Attributes of the road exit
        instruction:
          description: Description of the action (e.g. Turn left onto Minna St.).
          type: string
        intersectionName:
          description: 'Name of the intersection where the turn takes place, if available.'
          items:
            $ref: '#/components/schemas/LocalizedString'
          type: array
        length:
          allOf:
            - $ref: '#/components/schemas/Distance'
          description: 'Estimated length of this action (in meters). Actions extend until the next action, or the end of the route in case of the last one.'
        nextRoad:
          allOf:
            - $ref: '#/components/schemas/RoadInfo'
          description: Attributes of the next road
        offset:
          description: Offset of a coordinate in the section's polyline.
          type: integer
      required:
        - action
        - duration
    CountryCode:
      description: ISO-3166-1 alpha-3 code
      example: FRA
      type: string
    CustomizationHRN:
      description: 'HERE Resource Name identifier for customization. This HRN must follow a convention below: hrn:here:<service_id>::<customer-realm-id>:custom:<customization_type>:<customization_id>.'
      example: 'hrn:here:routing::olp-abc:custom:extension-map:abc-yard-routing'
      pattern: '^hrn:here:[a-z]+::[a-z|-]+:custom:[a-z|-]+$'
      type: string
    DataVersion:
      description: Version of a specific data set
      properties:
        name:
          description: 'Identifies a data set, for example, a HRN, or a service specific identifier'
          type: string
        version:
          description: The current version of this data set
          type: string
      required:
        - name
        - version
    DeboardAction:
      allOf:
        - $ref: '#/components/schemas/BaseAction'
      description: An action to disembark a ferry.
    DepartAction:
      allOf:
        - $ref: '#/components/schemas/OffsetAction'
    DepartureDelay:
      description: The accumulated delay in seconds from the scheduled time of the event.
      type: integer
    DepartureStatus:
      default: scheduled
      description: |
        Extensible enum: `scheduled` `cancelled` `additional` `replaced` `...`  
        Status of the departure

        * `scheduled`: A trip that is running as planned in the schedule.
        * `cancelled`: A trip that existed in the schedule but was removed.
        * `additional`: An extra trip that was added in addition to a running schedule, for example, to respond to sudden passenger load.
        * `replaced`: A trip that was in the schedule but is removed and replaced with `additional` trip, for example, to replace a broken vehicle or handle detour.
      type: string
      x-extensible-enum:
        - scheduled
        - cancelled
        - additional
        - replaced
    Distance:
      description: Distance in meters.
      minimum: 0
      type: integer
    DockingStationPlace:
      allOf:
        - $ref: '#/components/schemas/BasePlace'
      description: A place represents a docking station for rented vehicles.
    Duration:
      description: Duration in seconds.
      type: integer
    DynamicSpeedInfo:
      description: |
        Describes dynamic speed information, such as traffic speed, estimated speed without traffic, and turn time.
      properties:
        baseSpeed:
          allOf:
            - $ref: '#/components/schemas/Speed'
          description: Estimated speed without considering any traffic-related constraints.
        trafficSpeed:
          allOf:
            - $ref: '#/components/schemas/Speed'
          description: |
            Traffic-enabled speed, which is the estimated speed considering traffic-relevant constraints.
        turnTime:
          allOf:
            - $ref: '#/components/schemas/Duration'
          description: |
            Turn time estimate considering traffic and transport mode needed for turning from this segment into the next.
      required:
        - trafficSpeed
        - baseSpeed
        - turnTime
    EV:
      description: |
        EV parameters to be used for calculating consumption and for calculating EV routes with
        automatically added charging stations.

        The following attributes are required for calculating consumption:
        * `freeFlowSpeedTable`
        * `ascent`
        * `descent`

        The following attributes are additionally required in order to calculate reachable routes:

        * `initialCharge`
        * `maxCharge`
        * `connectorTypes`
        * `chargingCurve`
        * `maxChargeAfterChargingStation`
        * `makeReachable` set to `true`

        All remaining attributes are optional.
      properties:
        ascent:
          description: |
            Rate of energy consumed per meter rise in elevation (in Wh/m, i.e., Watt-hours per meter).
          minimum: 0
          type: number
        auxiliaryConsumption:
          description: |
            Rate of energy (in Wh/s) consumed by the vehicle's auxiliary systems (for example, air conditioning, lights).
            The value represents the number of Watt-hours consumed per second of travel.
          minimum: 0
          type: number
        chargingCurve:
          description: |
            Function curve describing the maximum battery charging rate (in kW) at a given charge level (in kWh).

            The format of the string is a comma-separated list of numbers, as follows:

            ```
            <CHARGE_0>,<RATE_0>,<CHARGE_1>,<RATE_1>,...,<RATE_N>,<CHARGE_N>
            ```

            where charge values are strictly increasing, non-negative floating-point values in units
            of (kWh), and rate values are positive floating point values in units of (kW).

            Charge values must cover the entire range of `[0, maxChargeAfterChargingStation`]. The
            charging curve is piecewise constant, e.g., for any charge in the range `[CHARGE_0,
            CHARGE_1)`, the value of the function is `RATE_0`.

            The algorithm calculates a route as the best possible combination of driving and charging
            parts and uses the charging curve to evaluate the most efficent range of
            charging. For example, if the rate of charging is high at lower levels of battery, but slows down significantly after charging a little, stopping
            often and charging less, but quicker, at each station might be better for the overall route.
            Because batteries lose charging speed with use, providing a charging curve for the
            exact battery would give more accurate charging time estimate than providing a
            generic curve for all batteries of one type.
          example: '0,207,28.761,207,29.011,173,43.493,173,43.743,145,51.209,145,51.459,113,56.120,113,56.370,87,80.0,10'
          type: string
        chargingSetupDuration:
          description: |
            Time spent (in seconds) after arriving at a charging station but before actually charging
            (for example, time spent for payment processing).
          format: int32
          minimum: 0
          type: integer
        connectorTypes:
          description: |
            Comma-separated list of connector types that are compatible with the vehicle. If `makeReachable` is set to `true`,
            then only stations with any of these connector types will be evaluated as a potential charging stop.
            For stations with multiple compatible connectors, the charging time is based on the connector type with the highest power rating among them.

            Currently supported connector types are:
              * `iec62196Type1Combo`:  Type 1 Combo connector, commonly called "SAE J1772"
              * `iec62196Type2Combo`:  Type 2 Combo connector, commonly called "Mennekes"
              * `chademo`: CHAdeMO connector
              * `tesla`: Tesla connector
          example: 'iec62196Type1Combo,chademo'
          type: string
        descent:
          description: |
            Rate of energy recovered per meter fall in elevation (in Wh/m, i.e., Watt-hours per meter).
          minimum: 0
          type: number
        freeFlowSpeedTable:
          allOf:
            - $ref: '#/components/schemas/ConsumptionSpeedTable'
        initialCharge:
          description: |
            Charge level of the vehicle's battery at the start of the route (in kWh).
            Value must be less than or equal to the value of `maxCharge`.
          minimum: 0
          type: number
        makeReachable:
          description: |
            When set to `true`, the router ensures that the calculated route is reachable within the given constraints
            (i.e., `minChargeAtChargingStation`, `minChargeAtDestination`). If necessary, charging stations are added to the route
            to achieve reachability.

            The following conditions must be met in order to enable this option:
            * `transportMode=car`
            * `routingMode=fast`
            * `avoid` options requested, if any, should only be from `tollRoad`, `ferry`, `controlledAccessHighway`, `carShuttleTrain`, `tunnel`, `dirtRoad`.
            Avoid `controlledAccessHighway` and `tollRoad` options are limited to 300km air distance between 2 subsequent waypoints.
          type: boolean
        maxCharge:
          description: |
            Total capacity of the vehicle's battery (in kWh).
          minimum: 0
          type: number
        maxChargeAfterChargingStation:
          description: |
            Maximum charge to which the battery should be charged at a charging station (in kWh).
            Value must be less than or equal to the value of `maxCharge`.

[...]
